<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>内部会议申请管理</title>
<link rel="stylesheet" href="/getCssStyle?css=static/web/plugins/layui2/css/layui.css" />
<link rel="stylesheet" href="/getCssStyle?css=static/web/plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../../web/css/global.css" media="all">
<link rel="stylesheet" href="../../web/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../web/css/zTreeStyle.css" media="all">
<link rel="stylesheet" href="../../web/css/table.css" />
<link rel="stylesheet" href="../../web/css/public.css" media="all">
<link rel="stylesheet" href="../../web/css/zhengls.css" media="all">
<style>
.select_sty .layui-unselect.layui-form-select{float:left;width:82%;}
</style>
</head>
<body> 
	<!-- 会议取消弹窗 -->
	<div class="admin-main" style="display: none; z-index: 19940200;margin-bottom:0px" id="win-reminders-object" >
			<form class="layui-form" action="/res/file/download" method="get" id="action_form">
			   <input type="hidden" name="groupName" id="groupName">
			   <input type="hidden" name="fileName" id="fileName">
			</form>
	      <form class="layui-form layui-form-pane" id="cancel-object-form">
		    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
		    <input type="hidden" id="id" name="id" >
		   <div class="layui-form-item" id="">
			<span style="margin-left:20px"> 确定取消会议？请选择提醒方式</span>
			</div>
			<div class="layui-form-item" id="isWarn_add">
				 <div class="layui-input-block" style="margin-left:20px">
				      <input type="checkbox"  class="check-id msgs" name="isWarnMsg" id="isWarnMsg_cancel" title="短信提醒" value="1" lay-skin="primary">
				      <input type="checkbox" class="check-id msgs"  name="isWarnMail" id="isWarnMail_cancel" title="邮件提醒" value="1" lay-skin="primary">
				      <input type="checkbox" class="check-id msgs"  name="isWarnOnline" id="isWarnOnline_cancel" title="消息提醒" value="1" lay-skin="primary">
   				 </div>
			</div>
			<div class="" style="margin-top: 15px;">
				<div style="float: right;">
				   	<a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="layer.closeAll();"> 取消</a>
					<a class="layui-btn submit"  onclick="msgSend();">
						 确认
					</a>
				</div>
			</div>
		</form>
	</div>
	
	<input type="hidden" name="${_csrf.parameterName}" id="${_csrf.parameterName}" value="${_csrf.token}" />
  		<div class="admin-main content_sel">
  			<blockquote class="layui-elem-quote" style="padding:5px;text-align: right;">
				<form class="layui-form" action="">
					<div>
						<div class="layui-input-inline">
							<input type="text" name="searchKey" id="searchKey" lay-verify="" maxlength="20" placeholder="请输入议题或主持人" autocomplete="off" class="layui-input"
								style="height: 30px; line-height: 30px;" >
						</div>
						<span lay-submit=""><@a code="120501" href="javascript:void(0)" class="layui-btn layui-btn-small" id="" onclick="loadData(1)" iclass="layui-icon"
							 icon="&#xe615;" text="查询"/></span>
                        <span lay-submit=""><@a code="120502" href="javascript:void(0)" class="layui-btn layui-btn-small" id="" onclick="search_h()" text="高级搜索"/></span>							 
					</div>
			<!-- 	    <div class="layui-input-inline">
					  	<span><a class="layui-btn layui-btn-small" onclick="onclick="showDeletes()"><i class="layui-icon">&#xe640;</i>删除</a></span>
					</div> --> 
				</form>
			</blockquote>
			<form class="layui-form sear" action="" style="display:none;">
			<div>
				<!-- <div class="layui-input-inline m_r10" >
				 <span>议题</span>
				</div>
				<div class="layui-input-inline m_r20">
					<input type="text" class="inp_w120px" name="" id="meetingTitle-search" lay-verify="" maxlength="50" style="width:180px;">
				</div>
				<div class="layui-input-inline m_r10">
				 <span>主持人</span>
				</div>
				<div class="layui-input-inline m_r20">
					<input type="text" class="inp_w120px" name="" id="meetingHost-search" lay-verify="" maxlength="20">
				</div> -->
				<div class="layui-input-inline m_r10">
				 	<span>会议室</span>
				</div>
				<div class="layui-input-inline m_r20">
			      		<select name="meetingRoomId" lay-verify="" style="width:150px;height:32px;" id="meetingRoomId-search">
			      		</select>
			   	</div>
			   					<div class="layui-input-inline m_r10">
				 	<span>会议情况</span>
				</div>
				<div class="layui-input-inline m_r20">
			      		<select name="meetingSituation" lay-verify="" style="width:150px;height:32px;" id="meetingSituation-search">
					        <option value="">请选择</option>
					        <option value="1">未完成</option>
					        <option value="2">已完成</option>
					        <option value="3">已取消</option>
			      		</select>
			   	</div>
			   	<div class="layui-input-inline m_r10">
				 <span>会议时间</span>
				</div>
				<div class="layui-input-inline m_r20">
					 <input type="text" class="inp_date" name="" id="startTime-search" lay-verify="" readonly>
				</div>
				<div class="layui-input-inline m_r10">
				 <span>至</span>
				</div>
				<div class="layui-input-inline m_r20">
					  <input type="text" class="inp_date" name="" id="endTime-search" lay-verify="" readonly>
				</div> 
				<span lay-submit=""><a class="layui-btn layui-btn-small" id="" onclick="loadData(2)" style="float:right;"><i class="layui-icon">&#xe615;</i>查询</a></span>
		   </div>
		  <!--  <div class="m_t10">
				
		    </div> -->
			</form>
			<div class="layui-form">
				<table class="layui-table admin-table" >
				   <colgroup>
								<col width="5%">
								<col width="16%">
								<col width="15%">
								<col width="15%">
								<col width="12%">
								<col width="12%">
								<col width="9%">
								<col width="8%">
								<col width="11%">
					</colgroup>
					<thead>
						<tr>
							<th style="display: none;">用户ID</th>
							<th>序号</th>
							<th>会议议题</th>
							<th>主持人</th>
							<th>会议室</th>
							<th>会议开始时间</th>
							<th>会议结束时间</th>
							<th>会议情况</th>
							<th>创建人</th>
							<th>操作</th>
						</tr>
					</thead>
			<tbody id="paging-data">
			<script id="paging-script" type="text/html">
					{{each records value index}}
						<tr>
							<td style="display: none;">{{value.id}}</td>
							<td>{{(current-1)*size+index+1}}</td>
							<td class="table_link" onclick="detail('{{value.id}}')" style="cursor:pointer;" title="{{value.meetingTitle}}">{{value.meetingTitle}}</td>
							<td>{{value.meetingHost}}</td>
							<td >{{value.meetingRoomName}}</td>
							<td title="{{value.beginDate}}">{{value.beginDate}}</td>
							<td title="{{value.endDate}}">{{value.endDate}}</td>
							<td>{{value.meetingSituation}}</td>
							<td>{{value.createFullName}}</td>
							<td onclick="defalt_td(event)">
                                {{if value.meetingSituation=="未完成"}}
								<a href="javascript:void(0)" class="table_btn" id="show-edit" onclick="edit('{{value.id}}')"  >变更</a>
								<a href="javascript:void(0)" class="table_btn" id="show-delete" onclick="cancel('{{value.id}}',this)">取消</a>
							    {{/if}}
                              </td>
						</tr>
					{{/each}}
					</script>
			</tbody>
			</table>
			</div>
			<div class="admin-table-page" style="border-width: 0px; z-index: 0;">
				<div id="paging-footer" class="page" style="background-color: white; text-align: center;"></div>
			</div>
  		</div>
  	<!-- 会议变更 -->	
  	<div class="admin-main" style="display: none; z-index: 19940200;" id="win-editinside-object">
		<form class="layui-form layui-form-pane" style="padding-bottom:100px;" id="edit-object-form">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<input type="hidden" name="id" id="id-edit" value=""/>
			<!-- 附件 -->
			<div id="filealea_edit">

			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">会议标题</label>
				<div class="layui-input-block">
					<input type="text" name="meetingTitle" id="meetingTitle-edit" lay-verify="required|spactily" maxlength="50" autocomplete="off" placeholder="会议标题" class="layui-input" readonly="readonly">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">主持人</label>
				<div class="layui-input-block">
					<input type="text" name="meetingHost" id="meetingHost-edit" lay-verify="required|spactily"  maxlength="50" autocomplete="off" placeholder="主持人" class="layui-input" readonly="readonly">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">联系人</label>
				<div class="layui-input-block">
					<input type="text" name="contacts" readonly="readonly" id="contacts-edit" lay-verify="required|spactily"  maxlength="20" autocomplete="off" placeholder="联系人" class="layui-input">
				</div>
			</div>
		<!-- 	<div class="layui-form-item">
			    <label class="layui-form-label">会议室</label>
			    <div class="layui-input-block">
			        <select name="meetingRoomId" lay-verify="required" id="meetingRoomId-edit"  lay-filter="meetingRoomId">
			        </select>
					<input type="hidden" name="meetingRoomName" id="meetingRoomName-edit"/>
			    </div>
		 	</div>
		 	<div class="layui-form-item">
				<a href="#" style="float:right;color:blue;" onclick="checkmeeroom()">查看会议室使用情况</a>
		 	</div> -->
		 	
		 	<div class="layui-form-item select_sty">
				<label class="layui-form-label">会议室</label>
				<div class="layui-input-block">
					<select name="meetingRoomId" disabled lay-verify="required" id="meetingRoomId-edit" lay-filter="meetingRoomId">
					</select>
					<input type="hidden" name="meetingRoomName" id="meetingRoomName-edit"/>
					<!-- <a href="#" style="float:right;color:#339bf1;" onclick="checkmeeroom()">查看会议室使用情况</a> -->
				</div>
			</div>
		 	
		 	
		 	<div class="layui-form-item">
				<label class="layui-form-label">会议地址</label>
				<div class="layui-input-block">
					<input type="text" name="address" readonly="readonly" id="address-edit" lay-verify="required|spactily"  maxlength="100" autocomplete="off" placeholder="填写地址" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">参会人员</label>
				<div class="layui-input-block">
					<!--<input type="text" name="partyMemeberNames" id="partyMemeberNames-edit" lay-verify="required|spactily" autocomplete="off" placeholder="参会人员" class="layui-input input_btn" readonly="readonly">-->
					<input type="hidden" name="partyMemebersId" id="partyMemebersId-edit" value=""/>
					<input type="hidden" name="partyMemeberNames" id="partyMemeberNames-edit" value=""/>
					<div  id="partyMemebersName" style="width:81%;float:left; border:1px solid  #e7ecef;overflow:auto;font-size:14px;padding: 5px;min-height:17px"></div>
				 	<a class="btn_blue2" style="float:right;" onclick="personlSeclection()">人员选择</a>
				</div>
			</div>
			<div class="layui-form-item" id="">
				<label class="layui-form-label">增加人员</label>
				<div class="layui-input-inline" style="width:74.5%">
				    <div style="width:100%;" class="newgg emptyinput" id="moreman"></div>
					<input type="hidden" name="newMemberName" id="moremanname"  autocomplete="off" placeholder="账号" readonly="readonly" class="layui-input emptyinput">
				    <input type="hidden" name="newMember" id="moremanid" autocomplete="off" class="layui-input idszhan emptyinput">
				</div>
			</div>
			<div class="layui-form-item" id="">
				<label class="layui-form-label">减少人员</label>
				<div class="layui-input-inline" style="width:74.5%">
				    <div style="width:100%;" class="newgg emptyinput" id="lessman"></div>
					<input type="hidden" name="delMemberName" id="lessmanname"  autocomplete="off" placeholder="账号" readonly="readonly" class="layui-input emptyinput">
				    <input type="hidden" name="delMember" id="lessmanid" autocomplete="off" class="layui-input idszhan emptyinput">
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">外部出席单位/人员</label>
				<div class="layui-input-block">
					 <textarea name="attendances" readonly="readonly" id="attendances-edit" placeholder="请输入内容"   maxlength="1000" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">开始时间</label>
				<div class="layui-input-block">
					<input type="text" name="beginTime"  id="beginTime-edit" lay-verify="required" readonly autocomplete="off" placeholder="会议开始时间" class="layui-input">
				</div>
			</div> 
			<div class="layui-form-item">
				<label class="layui-form-label">结束时间</label>
				<div class="layui-input-block">
					<input type="text" name="endTime"  id="endTime-edit" lay-verify="required" readonly autocomplete="off" placeholder="会议结束时间" class="layui-input">
				</div>
			</div>   
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">会议内容</label>
				<div class="layui-input-block">
					 <textarea name="meetingContent" readonly="readonly" id="meetingContent-edit" placeholder="请输入内容"   maxlength="500" class="layui-textarea"></textarea>
				</div>
			</div> 
			<div class="layui-form-item">
			    <label class="layui-form-label">提醒方式</label>
			    <div class="layui-input-block">
					<input type="hidden" name="isWarnMsg"  id="iswarn-msg-msg" title="短信提醒" lay-skin="primary" value="" >
					<input type="hidden" name="isWarnMail" id="isWarn-mail-msg"title="邮件提醒" lay-skin="primary" value="">
					<input type="hidden" name="isWarnOnline" id="isWarn-online-msg" title="消息提醒" lay-skin="primary" value="">

					<input type="checkbox" lay-filter="isWarnMsg" id="isWarnMsg-edit" title="短信提醒" lay-skin="primary" value="" >
					<input type="checkbox" lay-filter="isWarnMail" id="isWarnMail-edit" title="邮件提醒" lay-skin="primary" value="" >
					<input type="checkbox" lay-filter="isWarnOnline" id="isWarnOnline-edit" title="消息提醒" lay-skin="primary" value="" >
					<span style="    position: relative; top: 3px; color: #B5B5B5;">(系统将会在会议开始前一天的16:20再次提醒参会人员)</span>
			    </div>
			    
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">上传附件</label>
				<div class="layui-input-block">
					<div class="layui-upload">
 					   <div class="layui-upload-drag drag" id="test10" style="padding:5px">
							  <i class="layui-icon"></i>
							  <p>点击上传，或将文件拖拽到此处</p>
					   </div>
 					   <a class="layui-btn bigin_upload" id="testListAction">
							<i class="layui-icon">&#xe62f;</i> 开始上传
					   </a> 
					   <div class="layui-upload-list">
					       <table class="layui-table">
						      	<tbody id="demoList_edit">
								<script   id="artt_edit"  type="text/html">
									{{each filelist value index}}
									<tr>
										<td>{{value.orgnlFileName}}</td>
										<td>{{value.fileSize}}kb</td>
										<td><span style="color: #5FB878;">上传成功</span></td>
										<td>
											<a style="color:#339bf1;" index="{{index}}" >删除</a>
										</td>
									</tr>
									{{/each}}
								</script>
								</tbody>
					       </table>
					   </div>
					</div> 
				</div>
			</div>
			<div class="btn_fixed">
			   	<a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="layer.closeAll();"><i class="fa fa-backward"></i> 返回</a>
				<div style="float: right;">
					<button class="layui-btn" lay-submit="" lay-filter="form-edit-submit">
						<i class="fa fa-save"></i> 保存
					</button>
					<!-- <button type="reset" class="layui-btn layui-btn-primary">
						<li class="fa fa-eraser"></li>重置
					</button> -->
				</div>
			</div>
		</form>
	</div>
	<input type="hidden" id="hiddenPp"  value="0">
	<!-- 会议详情 -->
	<div class="admin-main" style="display: none; z-index: 19940200;" id="win-detail-object">
		<div id="win-newsms-object">
			<form class="layui-form layui-form-pane" id="detail-object-form">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				<!-- <div class="mr_top10">
					<span class="e6ed" style="width:100px;">会议标题：</span>
					<span id="meetingTitle"></span>
			    </div> -->
			    <!-- 标题 -->
				<div class="" style="text-align: center;">
					 <span id="meetingTitle" style="font-size:16px;font-weight: bold;word-wrap:break-word"></span>
				</div>
				<div class="p_t10">
					<span class="e6ed" style="width:100px;">主持人：</span>
					<span id="meetingHost"></span>
			    </div>
			     <div class="p_t10">
					<span class="e6ed" style="width:100px;">联系人：</span>
					<span id="contacts"></span>
			    </div>
			    <div class="p_t10">
					<span class="e6ed" style="width:100px;">会议室：</span>
					<span id="meetingRoomName"></span>
			    </div>
				<div class="p_t10">
					<span class="e6ed l" style="width:100px;">会议地址：</span>
					<div id="address" class="l" style="word-wrap: break-word; width: 85%;margin-left: 4px;line-height:26px;"></div>
			    </div>
			    <div class="p_t10 cl">
					<span class="e6ed l" style="width:100px;">参会人员：</span>
					<!-- <span id="partyMemeberNames"></span> -->
					<div id="partyMemeberNames" class="l" style="word-wrap: break-word; width: 85%;margin-left: 4px;line-height:26px;"></div>
			    </div>
			     <div class="p_t10 cl">
					<span class="e6ed l" style="width:100px;">外部出席单位&nbsp;/&nbsp;人员：</span>
					<div id="attendances" class="l" style="word-wrap: break-word; width: 85%;margin-top: 19px;margin-left: 4px;"></div></div>
			    <div class="p_t10 cl">
					<span class="e6ed" style="width:100px;">会议时间：</span>
					<span id="beginTime" disabled></span>
					<span class="e6ed m_r10" style="width:20px;">至</span>
					<span id="endTime" disabled></span>
			    </div>
			    <!-- <div class="p_t10">
					<span class="e6ed" style="width:100px;">结束时间：</span>
					<span id="endTime"></span>
			    </div> -->
			   <!--  <div class="mr_top10">
					<span class="e6ed" style="width:100px;">会议内容：</span>
					<span id="meetingContent"></span>
			    </div> -->
			<!-- 	<div class="p_t10">
				    <span class="e6ed" style="width:100px;">提醒方式：</span>
				    <span id="isWarnMsg-add" style="display:none;display:inline-block">短信提醒;</span>
				      <span id="isWarnMail-add" style="display:none;display:inline-block">邮件提醒;</span>
				      <span id="isWarnOnline-add" style="display:none;display:inline-block">短信提醒;</span>
				    </span>
				</div> -->
				<!-- 会议内容 -->
                <div class="outindss" style="clear:both;" id="mailContent">
				  <p id="meetingContent" style="word-wrap: break-word;" class="heidf line_h_26px"></p>
				</div>
		    	<div class="p_t10 cl" >
					<span  class="e6ed l" style="width: 100px;">附件：</span> 
				<div class="">
				      <table class="layui-table" style="width: 50%;margin-top: 0px;border: none;">
				         <colgroup>
						    <col width="60%">
						    <col width="20%">
						    <col width="20%">
						  </colgroup>
					      	<tbody id="demoList">
							<script   id="artt_detail"  type="text/html">
								{{each filelist value index}}
                                    <tr>
                   					   <td style="border:none"><span style="margin-right:20px;">{{value.orgnlFileName}}</span></td>
                                       <td style="border:none"><span style="margin-right:20px;">{{value.fileSize}}kb</span></td>
                   					   <td style="border:none"><a onclick="showDownload('{{value.groupName}}','{{value.fileName}}')" style="color:#339bf1;cursor:pointer">下载</a></td>
                                    </tr>
	              				 {{/each}}
							</script>
							</tbody>
				       </table>
				    </div>
				   </div>
				   <div class="btn_fixed">
					<a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="layer.closeAll();"><i class="fa fa-backward"></i> 返回</a>
				   </div>
				
					
			</form>
		</div>
	</div>
	<!-- 人员选择树 -->
	<div style="display: none;z-index: 19940200;" id="win-personal-object">
		<div class="search_h">
			<input id="peopelSel" class="tree_search1 reset" type="text" value="" placeholder="搜索">
			<a class="layui-btn layui-btn-small" id="" onclick="searchNodes()"><i class="layui-icon">&#xe615;</i>搜索</a>
<!-- 			<a class="layui-btn layui-btn-small layui-btn-primary" style="margin-left:2px;" type="reset" onclick="reset_tree()"><li class="fa fa-eraser"></li> 重置</a>
 -->			<label type="text"  id="resultKey" class="form-control">  
                <div>  
                    <a id="clickUp" class="tree_up" onclick="clickUp()"><i class="layui-icon">&#xe619;</i></a>  
                    <a id="clickDown" class="tree_down" onclick="clickDown()"><i class="layui-icon">&#xe61a;</i></a>  
                </div>  
                <label id="number" class="tree_number"></label>  
            </label>  
        </div>
        <div class="tree_h">
        	<ul id="treeDemo" class="ztree treeDemo1" name="treeDemo" style="display:block"></ul>
        </div>
        <div class="sure_h">
		    <a class="layui-btn layui-btn-small sure_s"><li class="fa fa-save"></li> 确定</a>
		</div>
	</div>
	<!-- 查看会议室试用详情 -->
	<div class="admin-main" id="win-checkroom-object" style="display: none; z-index: 19940200;">
		<form class="layui-form layui-form-pane" id="checkroom-object-form">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<!-- tab中tab -->
			<div class="layui-tab">
				<ul class="layui-tab-title">
					<li class="layui-this" id="thisWeek">本周</li>
					<li id="thisMonth">本月</li>
				</ul>
				<div class="layui-tab-content" style="height: 100px; padding: 0;">
					<div class="layui-tab-item layui-show">
						<!--本周-->
						<div class="layui-form">
							<table class="layui-table admin-table">
								<thead>
								<tr id="headone1">

								</tr>
								</thead>
								<tbody class="bufffa1">
								<tr id="headTwo1">

								</tr>
								</tbody>
								<tbody id="paging2-data">
								<script id="paging2-script" type="text/html">
									{{each records value index}}
									<tr >
										<td style="display: none;">{{value.id}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
									</tr>
									{{/each}}
								</script>
								</tbody>
							</table>
						</div>
						<div class="admin-table-page"
							 style="border-width: 0px; z-index: 0;">
							<div id="paging2-footer" class="page"
								 style="background-color: white; text-align: center;"></div>
						</div>
					</div>
					<div class="layui-tab-item">
						<!--本月-->
						<div class="layui-form">
							<table class="layui-table admin-table">
							    <colgroup>
										<col width="8%">
										<col width="8%">
								</colgroup>
								<thead>
								<tr id="headone2">

								</tr>
								</thead >
								<tbody class="bufffa2">
								<tr id="headTwo2">

								</tr>
								</tbody>
								<tbody id="paging3-data">
								<script id="paging3-script" type="text/html">
									{{each records value index}}
									<tr >
										<td style="display: none;">{{value.id}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>{{value.}}</td>
										<td>
											<@a code="000103" href="javascript:void(0)" class="table_btn" id="show-edit" onclick="edit('{{value.id}}')" text="编辑"/>
											<@a code="000105" href="javascript:void(0)" class="table_btn" id="show-delete" onclick="showDelete('{{value.id}}',this)" text="删除"/>
										</td>
									</tr>
									{{/each}}
								</script>
								</tbody>
							</table>
						</div>
						<div class="admin-table-page"
							 style="border-width: 0px; z-index: 0;">
							<div id="paging3-footer" class="page"
								 style="background-color: white; text-align: center;"></div>
						</div>
					</div>
				</div>


		</form>
	</div>

	<script type="text/javascript" src="../../web/plugins/layui2/layui.js"></script>
	<script type="text/javascript" src="../../web/plugins/layui/lay/modules/laypage.js"></script>
	<script type="text/javascript" src="../../web/js/template-web.js"></script>
	<script type="text/javascript" src="../../web/js/jquery.js"></script>
	<script type="text/javascript" src="../../web/js/tool_upload.js"></script>
    <script type="text/javascript" src="../../web/js/jquery.ztree.all.min.js"></script>
	<script type="text/javascript" src="../../web/js/laydate/laydate.js"></script>




	<script>
		//时间控件
	 	tool.dateTime('#startTime-search','#endTime-search','',false);
	 	//tool.dateTime('#beginTime-edit','#endTime-edit',"YYYY-MM-DD hh:mm",true);
		//定义layui
		var pform;
        var isCommitted = false;//表单是否已经提交标识，默认为false
		layui.use(['form','element'], function() {
			pform = layui.form;
            //监听变更内部会议保存
            pform.on('submit(form-edit-submit)', function(data) {
                //if(isCommitted == false){
                    //isCommitted = true;
                    layer.confirm('确定变更吗 ?', {
                      icon: 3,
                      title: '提示'
                    },function(index){ 
                    $("#filealea_edit").empty();
                    var str = "";
                    if (arr.length > 0) {
                        for (var i = 0; i < arr.length; i++) {
                        	str += '<input type="hidden" name="resResourceList['+i+'].id" value="'+arr[i].res.id+'" />';
                        }
                        $("#filealea_edit").append(str);
                    }
                    tool.post("/mee/meeInsideMeeting/update", $("#edit-object-form").serialize(),postCallBackInfo, false);
                    })
                    return false;
                //}
            });

            pform.on('select(meetingRoomId)', function(data) {
            	var value = $("#edit-object-form").find("#meetingRoomId-edit").find("option:selected").text();
                $("#meetingRoomName-edit").val(value);
              
            });

            //监听复选框
            pform.on('checkbox(isWarnMsg)', function(data) {
                if(data.elem.checked){
                   // $("#isWarn-Msg").val(1);
                    $("#iswarn-msg-msg").val(1);
                }else{
                    //$("#isWarn-Msg").val(0);
                    $("#iswarn-msg-msg").val(0);
                }
                pform.render();
            });
            //监听复选框
            pform.on('checkbox(isWarnMail)', function(data) {
                if(data.elem.checked){
                   // $("#isWarn-Mail").val(1);
                    $("#isWarn-mail-msg").val(1);
                }else{
                    //$("#isWarn-Mail").val(0);
                    $("#isWarn-mail-msg").val(0);
                }
                pform.render();
            });
            //监听复选框
            pform.on('checkbox(isWarnOnline)', function(data) {
                if(data.elem.checked){
                    //$("#isWarn-Online").val(1);
                    $("#isWarn-online-msg").val(1);
                }else{
                    //$("#isWarn-Online").val(0);
                    $("#isWarn-online-msg").val(0);
                }
                pform.render();
            });

			loadData();
            $("#thisWeek").on("click",function () {
                loadCountData(1);
            });
            $("#thisMonth").on("click",function () {
                loadCountData(2);
            });
		});

        function postCallBackInfo(retMsg){
            if (retMsg.code == 0) {
                //提交后 再情况存放文件的数组 避免重复提交
                layer.alert(retMsg.message, {
                    title : "操作提示",
                    icon : 1,
                    closeBtn:0
                }, function(index) {
                    layer.closeAll();
                    if($(".layui-laypage-btn").length>0){
                    	$(".layui-laypage-btn").trigger("click");
                    }else{
                    	loadData();
                    }
                    
                });
               // location.href = "/mee/meeInsideMeeting/meeInAppayManagePage";
            } else {
                tool.error(retMsg.message);
            }
        }
        //内部会议列表
        function loadData(type) {
            var param = new Object();
            param.container = "paging";
            param.url = "/mee/meeInsideMeeting/insideMeetApplylist";
            param._csrf = $("#_csrf").val();
            param.pageSize = 10;
            if(type==1){
            	 param.searchKey = $("#searchKey").val();
            }
            else{
            	param.searchKey = $("#searchKey").val();
               // param.meetingTitle = $("#meetingTitle-search").val();
                //param.address = $("#address-search").val();
                param.meetingHost = $("#meetingHost-search").val();
                param.meetingRoomId = $("#meetingRoomId-search").val();
                param.meetingSituation = $("#meetingSituation-search").val();
                param.startDate = $("#startTime-search").val();
                param.endDate = $("#endTime-search").val();
            }

            tool.loadpage(param);
        }

        getMeeRoom();
        //分类下拉框数据加载
        function getMeeRoom(){
            var  param={
                _csrf:$("#_csrf").val()
            }
            tool.post("/mee/meeMeetingRoom/chargeList",param,function(data){
                $("#meetingRoomId-search").empty();
                $("#meetingRoomId-search").append('<option value="">请选择</option>');
                $("#meetingRoomId-edit").empty();
                $("#meetingRoomId-edit").append('<option value="">请选择</option>');
                var str="";
                for(var i=0;i<data.length;i++){
                    str+=' <option value="'+data[i].id+'">'+data[i].meetingRoomName+'</option>';
                }
                $("#meetingRoomId-search").append(str);
                $("#meetingRoomId-edit").append(str);
              
            },false)
        }

        //内部会议详情
        function detail(id) {
            getMeeRoom();
            var object =  tool.getById("/mee/meeInsideMeeting/getById", id);
            if(object.resResourceList!=null){
            	   var fileBack=object.resResourceList;
   		           var filelist={filelist:fileBack};
   				   /* for(var i=0;i<filelist.filelist.length;i++){
   					   filelist.filelist[i].attachPath = filelist.filelist[i].attachPath.replace(/\\/g,"\\/")
   					 } */
   		            $('#demoList').html(template("artt_detail", filelist));
   			   }
            for ( var key in object) {
                $("#detail-object-form").find("#" + key).text(
                    object[key]);
               
                if(key == 'isWarnMsg'){
                    var isWarnMsg = $("#detail-object-form").find("#isWarnMsg-add");
                    if(isWarnMsg.length>0){
                        if(object[key] == '1'){
                            $(isWarnMsg).show();
                        }else{
                        	$(isWarnMsg).hide();
                        }
                    }
                }

                if(key == 'isWarnMail'){
                    var isWarnMail = $("#detail-object-form").find("#isWarnMail-add");
                    if(isWarnMail.length>0){
                        if(object[key] == '1'){
                            $(isWarnMail).show();
                        }else{
                        	$(isWarnMail).hide();
                        }
                    }

                }

                if(key == 'isWarnOnline'){
                    var isWarnOnline = $("#detail-object-form").find("#isWarnOnline-add");
                    if(isWarnOnline.length > 0){
                        if(object[key] == '1'){
                            $(isWarnOnline).show();
                        }else{
                        	$(isWarnOnline).hide();
                        }
                    }
                }
            }
            /* 参会人员 */
            var partyMemeberNamesNew=object.partyMemeberNames.replace(/;/g,"；");
            if(partyMemeberNamesNew.substr(partyMemeberNamesNew.length-1,1)=="；"){
            	partyMemeberNamesNew=partyMemeberNamesNew.substr(0,partyMemeberNamesNew.length-1);
			}
            $("#partyMemeberNames").text(partyMemeberNamesNew);
            if(object.attendances!=null){
            	/* 外部出席单位/人员 */
                var attendances=object.attendances.replace(/;/g,"；");
                $("#attendances").text(attendances);
            }
            
            var index = layer.open({
                title : '内部会议详情',
                maxmin : false,
                type : 1,
                content : $('#win-detail-object')
            });
            pform.render();
            layer.full(index);
        }
  	  //下载详情里面的附件
       function showDownload(groupName,fileName){
	    	$("#groupName").val(groupName);
	    	$("#fileName").val(fileName);
			$("#action_form").submit();
    	}
        //公共信息编辑
        function edit(id) {
        	//清空增加 减少人员框
        	$(".emptyinput").val("");
        	$(".emptyinput").text("");
        	createArr=[];
        	lessArr=[];
        
        	
            getMeeRoom();
            var object =  tool.getById("/mee/meeInsideMeeting/getById", id);
            var strid=object.partyMemebersId.substring(0,object.partyMemebersId.length-1);
            var strname=object.partyMemeberNames.substring(0,object.partyMemeberNames.length-1);
        	var idarr=strid.split(";");
        	var namearr=strname.split(";");
        	for(var i=0;i<idarr.length;i++){
        		lessArr.push({id:idarr[i],name:namearr[i]})
        	}
            var fileBack=object.resResourceList;
            var filelist={filelist:fileBack};
            $('#demoList_edit').html(template("artt_edit", filelist));
            for ( var key in object) {
                $("#edit-object-form").find("#" + key + "-edit").val(
                    object[key]);
                if(key == 'partyMemeberNames'){
                    var str =  "";
                    var pmnArr = [];
                    var pmnArrId = [];
                    var partyMemeberNames = object[key];
                   
                    var partyMemeberId = object['partyMemebersId'];
                    if(partyMemeberNames.indexOf(";")>-1){
                        if(partyMemeberNames.lastIndexOf(";")>-1){
                            pmnArr = partyMemeberNames.substr(0,partyMemeberNames.lastIndexOf(";")).split(";");
						}else{
                            pmnArr = partyMemeberNames.split(";");
						}
					}
                    if(partyMemeberId.indexOf(";")>-1){
                        if(partyMemeberId.lastIndexOf(";")>-1){
                            pmnArrId = partyMemeberId.substr(0,partyMemeberId.lastIndexOf(";")).split(";");
                        }else{
                            pmnArrId = partyMemeberId.split(";");
                        }
                    }
                    if(pmnArr.length>0){
					for(var i = 0;i<pmnArr.length;i++){
                        str+='<div class="layui-input-inline" style="position: relative;float:none;width:auto;" where="0">'+
                            '<i class="layui-icon" onclick="removeElement(this)"  style="cursor: default; font-size:16px; color: #d9d9d9;position: absolute;right: -8px;z-index: 10; color:red">&#x1007;</i>'+
                            '<a class="layui-btn" style="cursor: pointer;color: black; background: none;height:26px;line-hieght:26px;padding-left:6px;padding-right:6px" onclick="" pmnId="'+pmnArrId[i]+'" pmnName = "'+pmnArr[i]+'">'+pmnArr[i]+'</a>'+
                            '</div>';
					}
                    }
                    $("#partyMemebersName").empty();
                    $("#partyMemebersName").append(str);
                }
                if(key == 'isWarnMsg'){
                    var isWarnMsg = $("#edit-object-form").find("input[id='isWarnMsg-edit']");
                    if(isWarnMsg.length>0){
                        if(object[key] == '1'){
                            $(isWarnMsg).attr("checked",true);
                        }
                    }
                    $("#iswarn-msg-msg").val(object[key]);
                }

                if(key == 'isWarnMail'){
                    var isWarnMail = $("#edit-object-form").find("input[id='isWarnMail-edit']");
                    if(isWarnMail.length>0){
                        if(object[key] == '1'){
                            $(isWarnMail).attr("checked",true);
                        }
                    }
                    $("#isWarn-mail-msg").val(object[key]);;
                }

                if(key == 'isWarnOnline'){
                    var isWarnOnline = $("#edit-object-form").find("input[id='isWarnOnline-edit']");
                    if(isWarnOnline.length > 0){
                        if(object[key] == '1'){
                            $(isWarnOnline).attr("checked",true);
                        }
                    }
                    $("#isWarn-online-msg").val(object[key]);;
                }

                if(key == 'beginTime'){
                    var begTime = object[key].substr(0,16);
                    $("#beginTime-edit").val(begTime);
                }
                if(key == 'endTime'){
                    var endTime = object[key].substr(0,16);
                    $("#endTime-edit").val(endTime);
                }
            }
            var index = layer.open({
                title : '内部会议变更',
                maxmin : false,
                type : 1,
                content : $('#win-editinside-object')
            });
            pform.render();
            layer.full(index);
        }
        
        //取消会议弹窗
        function cancel(id) {
        	  $("#win-reminders-object").find("#id").val(id);
        	  $("#isWarnMsg_cancel").attr("checked",false);
        	  $("#isWarnMail_cancel").attr("checked",false);
        	  $("#isWarnOnline_cancel").attr("checked",false);
        	  indexs = layer.open({
     			title : '会议取消',
     			maxmin : false,
     			area : ['420px','180px'],
     			type : 1,
     			content : $('#win-reminders-object')
     		   });	
             pform.render();
        }
        //确定取消会议事件
        function msgSend(){
        	tool.post("/mee/meeInsideMeeting/cancel", $("#cancel-object-form").serialize(),function(retMsg){
                if (retMsg.code == 0) {
                    tool.success(retMsg.message);
                    layer.closeAll();
                	if($(".layui-laypage-btn").length>0){
                		$(".layui-laypage-btn").trigger("click");
                	}else{
                		loadData();
                	}
                } else {
                    tool.error(retMsg.message);
                }
            },false);
        }
        
        //人员选择弹窗
        function personlSeclection(){
            var index = layer.open({
            	 title : '人员选择',
                 maxmin : false,
                 type : 1,
                 shadeClose: true,
                 area: ['360px', '500px'],
                 content : $('#win-personal-object')
            });
            deptUserTree();

            var objIds = $("#partyMemebersId-edit").val();
            var ids = [];
            if(objIds.length>0 && objIds.lastIndexOf(";")>-1){
                ids = objIds.substr(0,objIds.lastIndexOf(";")).split(";");
            }
            if(ids.length>0){
                var mytree = $.fn.zTree.getZTreeObj("treeDemo");
                //打开弹窗前重置节点以及关闭展开状态，避免叠加
                mytree.checkAllNodes(false)
                mytree.expandAll(false);
                for(var i=0;i<ids.length;i++){
                    var nodes= mytree.getNodeByParam("userId",ids[i]);
                    if(nodes){
                        nodes.checked=true;
                        mytree.updateNode(nodes)
                        mytree.expandNode(nodes,true);//指定选中ID节点展
                    }
                }
            }
            $("#number").html("");
        }

        //部门用户树
        function deptUserTree(){
            tool.post("/pub/public/organList",{_csrf:$("#_csrf").val()},function(data){
                var  departmentList=data.departmentList;//部门
                var  userPositionList=data.departmentUserList;//用户
                var setting = {
                    check : {
                        enable : true ,
                    },
                    data : { simpleData : { enable : true }  },
                    callback: {
                        onCheck: onCheck
                    }
                };
                var obj=[];
                for(var i=0;i<departmentList.length;i++){
                    obj.push({id:departmentList[i].id,pId: departmentList[i].parentId,name:departmentList[i].deptName,necessary:0})
                    for(var j=0;j<userPositionList.length;j++){
                        if(userPositionList[j].deptId==departmentList[i].id){
                            obj.push({id:userPositionList[j].id,pId:departmentList[i].id,name:userPositionList[j].fullName,necessary:1,userId:userPositionList[j].userId,userName:userPositionList[j].userName })
                        }
                    }
                }
                mytree= $.fn.zTree.init($("#treeDemo"), setting, obj);
            },false)
        }
        //定义新增加人员的数组
        var ceateArr=[];
        //初始人员数组 对比用
        var lessArr=[];
        //定义原始就有的人员数组
    	var lessArrnew=[];
        //勾选用户
        function onCheck(){
        	ceateArr=[];
        	lessArrnew=[];
             //   从树中删除已有的要在减少人员里增加
              var lessWho=[];
             
            var  treeArr=[];
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            var changeNodes = zTree.getChangeCheckedNodes();
            //数组去重
            var res = [];
            var json = {};
            for(var i = 0; i < changeNodes.length; i++){
                if(!json[changeNodes[i].userId]){
                    res.push(changeNodes[i]);
                    json[changeNodes[i].userId] = 1;
                }
            }
            changeNodes=res;
            
            if(changeNodes.length>0){
                $.each(changeNodes,function(index,value){
                    if(value.necessary==1){
                        treeArr.push({id:value.id,name:value.name,userId:value.userId,userName:value.userName})
                    }
                })
            }
            
            var uId="",fullname="";
            if(treeArr.length>0){
                $.each(treeArr,function(index,value){
                    uId+=value.userId+";"
                    fullname+=value.name+";"
                })
            }else{
                var uId="",fullname="";
            }
            $("#new-object-form").find("#partyMemebersId-add").val(uId);
            $("#new-object-form").find("#partyMemeberNames-add").val(fullname);
            $("#edit-object-form").find("#partyMemebersId-edit").val(uId);
            $("#edit-object-form").find("#partyMemeberNames-edit").val(fullname);
            
             for(var i=0;i<changeNodes.length;i++){
            	 for(var j=0;j<lessArr.length;j++){
            		 if(changeNodes[i].userId==lessArr[j].id){
            			 lessArrnew.push({id:changeNodes[i].userId,name:changeNodes[i].name})
            		 }
            	 }
             }
           //和原来数组对比  减少的
        	var result1 = [];
    		for(var i = 0; i < lessArr.length; i++){
    		    var obj = lessArr[i];
    		    var num = obj.id;
    		    var isExist = false;
    		    for(var j = 0; j < changeNodes.length; j++){
    		        var aj = changeNodes[j];
    		        var n = aj.userId;
    		        if(n == num){
    		            isExist = true;
    		            break;
    		        }
    		    }
    		    if(!isExist){
    		        result1.push(obj);
    		    }
    		}
    		//减少的人员赋值
		    var lessmanid="";
		    var lessname="";
			for(var i=0;i<result1.length;i++){
				lessmanid+=result1[i].id+";";
				lessname+=result1[i].name+";";
			}
			//lessname=lessname.substr(0,lessname.length-1);
			//lessmanid=lessmanid.substr(0,lessmanid.length-1);
			$("#lessmanid").val(lessmanid);
			$("#lessmanname").val(lessname);
			$("#lessman").text(lessname);
    		//和原来数组对比  增 加的
    		var result = [];
    		for(var i = 0; i < changeNodes.length; i++){
    		    var obj = changeNodes[i];
    		    var num = obj.userId;
    		    var isExist = false;
    		    for(var j = 0; j < lessArr.length; j++){
    		        var aj = lessArr[j];
    		        var n = aj.id;
    		        if(n == num){
    		            isExist = true;
    		            break;
    		        }
    		    }
    		    if(!isExist){
    		        result.push(obj);
    		    }
    		}
            if(result.length>0){
                $.each(result,function(index,value){
                    if(value.necessary==1){
                        ceateArr.push({id:value.userId,name:value.name})
                    }
                })
            }
            var morestrname="";
            var morestrid="";
            //给增加人员的框赋值
            for(var i=0;i<ceateArr.length;i++){
            	morestrname+=ceateArr[i].name+";";
            	morestrid+=ceateArr[i].id+";";
            	
            }
          // morestrname=morestrname.substr(0,morestrname.length-1);
         //  morestrid=morestrid.substr(0,morestrid.length-1);
            $("#moreman").text(morestrname);
            $("#moremanname").val(morestrname);
            $("#moremanid").val(morestrid);
            //获取原来的 参会人员
            var str =  "";
            var strold = "";
			//获取现在的 参会人员
            for(var i = 0;i<ceateArr.length;i++){
                str+='<div class="layui-input-inline" style="position: relative;float:none;width:auto;" where="1">'+
                '<i class="layui-icon" onclick="removeElement(this)"  style="cursor: default; font-size:16px; color: #d9d9d9;position: absolute;right: -8px;z-index: 10; ">&#x1007;</i>'+
                '<a class="layui-btn" style="cursor: pointer;color: black; background: none;height:26px;line-hieght:26px;padding-left:6px;padding-right:6px" onclick="" pmnId="'+ceateArr[i].id+'" pmnName = "'+ceateArr[i].name+'">'+ceateArr[i].name+'</a>'+
                '</div>';
            }
			
			if(lessArrnew.length>0){
	            for(var i = 0;i<lessArrnew.length;i++){
	                strold+='<div class="layui-input-inline" style="position: relative;float:none;width:auto;" where="0">'+
	                '<i class="layui-icon" onclick="removeElement(this)"  style="cursor: default; font-size:16px; color: #d9d9d9;position: absolute;right: -8px;z-index: 10;color:red ">&#x1007;</i>'+
	                '<a class="layui-btn" style="cursor: pointer;color: black; background: none;height:26px;line-hieght:26px;padding-left:6px;padding-right:6px" onclick="" pmnId="'+lessArrnew[i].id+'" pmnName = "'+lessArrnew[i].name+'">'+lessArrnew[i].name+'</a>'+
	                '</div>';
	            }
			}
            $("#partyMemebersName").empty();
            $("#partyMemebersName").append(strold);
            $("#partyMemebersName").append(str);
        }

		function removeElement(tis) {
            var pmnId = $(tis).next().attr("pmnId")+";";
            var pmnName = $(tis).next().attr("pmnName")+";";
            /*<input type="hidden" name="partyMemebersId" id="partyMemebersId-edit" value=""/>
					<input type="hidden" name="partyMemebersName" id="partyMemeberNames-edit" value=""/>*/
            var partyMemebersId = $("#partyMemebersId-edit").val();
            var partyMemebersName = $("#partyMemeberNames-edit").val();
            var pmnIdStr = partyMemebersId.replace(pmnId,"");
            var pmnNameStr = partyMemebersName.replace(pmnName,"");
            $("#partyMemebersId-edit").val(pmnIdStr);
            $("#partyMemeberNames-edit").val(pmnNameStr);
			$(tis).parent().remove();
			
			var where=$(tis).parent().attr("where");
			if(where=="0"){
				var oldvla = $("#lessmanid").val();
				$("#lessmanid").val(oldvla+pmnId);
				$("#lessmanname").val($("#lessmanname").val()+pmnName);
				$("#lessman").text($("#lessman").text()+pmnName);
			/* 	for(var i=0;i<lessArr.length;i++){
					if(lessArr[i].id+";"==pmnId){
						lessArr.splice(i, 1);
					}
				}
				 */
			}else{
				 var olaval=$("#moreman").text();
				 var newval =olaval.replace(pmnName,"");
				  $("#moreman").text(newval);
				 var  olavalid=$("#moremanid").val();
				 var  newvalid =olavalid.replace(pmnId,"");
				 $("#moremanid").val(newvalid);
				 var  olavalname=$("#moremanname").val();
				 var  newvalidname =olavalname.replace(pmnName,"");
				 $("#moremanname").val(newvalidname);
			}

        }

		  function loadCountData(index,meetingRoomId) {
	            var param = new Object();
	            param._csrf = $("#_csrf").val();
	            if(index == 1){
	                param.thisWeek = "1";
	            }else{
	                param.thisMonth = "1";
	            }
	            param.beginTime = $("#startTime").val();
	            param.endTime = $("#endTime").val();
	            param.searchKey = $("#searchKey").val();
	            if(meetingRoomId){
	                param.meetingRoomId = meetingRoomId;
	            }
	            tool.post("/mee/meeMeetingRoom/countlist", param, function (data) {
	                if(null != data.mapList){
	                    var count = 0;
	                    var mapList = data.mapList[0];
	                    var theadList = data.theadList;
	                    for(var key  in mapList){//获得数据行
	                        count++;
	                    }

	                    var strone = "";
	                    $("#headTwo"+index).empty();
	                    $("#headone"+index).empty();
	                    $("#headTwo"+index).nextAll().remove();
	                    //生成表头
	                    for(var i=0;i<theadList.length;i++){
	                        var datas=theadList[i];
	                        strone+=' <th><p>'+datas+'</p></th>'
	                    }
	                    $("#headone"+index).append(strone);

	                    //生成表格内容
	                    var content="";
	                    for(var k=0;k<count;k++){
	                        content+='<tr class="xuanz  publicchoose">';

	                        for(var m=0;m<theadList.length;m++){
	                            if(m!=0 || m!=1){
	                                content+='<td id='+theadList[m]+'></td>';
	                            }
	                        }
	                        content+='</tr>';

	                    }
	                    $("#headTwo"+index).after(content);

	                    var flag = 0;
	                    $(".bufffa"+index).find(".xuanz").each(function(){
	                        var thisObj = this;
	                        var flag2 = 0;
	                        for(var key in mapList){
	                            if(flag == flag2){
	                                var roomArr = [];
	                                if(key != null){
	                                	if(key.indexOf(",")>-1){
	                                        roomArr = key.split(",");
	                                    }
	                                }
	                                if(null != roomArr){
	                                    $(thisObj).find("td").eq(0).text(roomArr[0]);
	                                    $(thisObj).find("td").eq(0).attr("title",roomArr[0])
	                                }
	                                var count = 0;
	                                for(var keys in mapList[key]){
	                                    //for(var t in mapList[key][keys]){
	                                    var ke= keys.replace(/\s+/g,"");
	                                    count+=mapList[key][keys].length;
	                                    for(var i = 0;i<mapList[key][keys].length;i++){
	                                        var obj = mapList[key][keys][i];
	                                       
	                                        //开始时间 obj.beginTime
	                                        // 结束时间 obj.endTime
	                                        // 主题  obj.meetingTitle
	                                        // 主持人 obj.meetingHost
	                                        obj.beginTime='开始时间：'+obj.beginTime;
											obj.endTime='结束时间：'+obj.endTime;
											obj.meetingTitle='会议主题：'+obj.meetingTitle;
											obj.meetingHost='&nbsp;&nbsp;&nbsp;主持人：'+obj.meetingHost;
	                                        $(thisObj).find("#"+ke).append("<div class='thisweek' style='margin-bottom: 5px;' title='"+obj.beginTime+"&#13;"+obj.endTime+"&#13;"+obj.meetingTitle+"&#13;"+obj.meetingHost+"'></div>");
	                                    }
	                                    //}
	                                    
	                                }
	                                $(thisObj).find("td").eq(1).text(count);
	                            }
	                            flag2++;
	                        }
	                        flag++;
	                    });
	                }
	            }, false);
	        }
        //查看会议室试用情况
        function checkmeeroom(){
            var index = layer.open({
                title : '会议室试用情况',
                maxmin : false,
                type : 1,
                content : $('#win-checkroom-object')
            });
            pform.render();
            layer.full(index);
            var meetingRoomId = $("#meetingRoomId-edit").val();
            loadCountData(1);
  
        }

        /* 高级搜索 */
		function search_h(){
			$(".sear").toggle();
		}

        //阻止maopao
        function defalt_td(event){
            event.cancelBubble=true;
        }
        
       // tool.fileUpload("demoList_edit","test10","/mai/maiWrite/upload","testListAction");
        //用按钮查询节点  
        /* function searchNodes(){  
            var mytree = $.fn.zTree.getZTreeObj("treeDemo");  
            var keywords=$("#peopelSel").val();  
            var nodes = mytree.getNodesByParamFuzzy("name", keywords, null);  
            if (nodes.length>0) {  
                mytree.selectNode(nodes[0]);  
            }  
        }  */
        //重置树
		function reset_tree(){
			/* var mytree = $.fn.zTree.getZTreeObj("treeDemo");
		    //打开弹窗前重置节点以及关闭展开状态，避免叠加
			$('#partyMemebersId-add').val("");
			$('#partyMemeberNames-add').val("");
			$('#partyMemebersId-edit').val("");
			$('#partyMemeberNames-edit').val("");
		    $("#partyMemebersName").empty();
			mytree.checkAllNodes(false)
		    mytree.expandAll(false); */
		    $('.reset').val("");
        	$("#number").html("");
		} 
    
	</script>
</body>
</html>