<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>公共信息审批流程</title>
<link rel="stylesheet" href="/getCssStyle?css=static/web/plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../../web/css/global.css" media="all">
<link rel="stylesheet" href="../../web/css/zTreeStyle.css" media="all">
<link rel="stylesheet" href="../../web/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../web/css/table.css" />
<link rel="stylesheet" href="/getCssStyle?css=static/web/plugins/layui2/css/layui.css" />
<link rel="stylesheet" href="../../web/css/public.css" media="all">
<link rel="stylesheet" href="../../web/css/zhengls.css" media="all">
<link rel="stylesheet" href="../../web/css/multsel.css" media="all">
<style>
	.thisweek{width:10px;height:20px;background:#ff5454;margin-right:6px;float:left;}
	.blue_border{border:solid 1px #339bf1;}
	.table_sty{width:50%;margin-left:15px;margin-top:14px;height: 400px;overflow: auto;}
	 div#audit-member-list a:hover {
        background-color:#f1f1f1;
    }
</style>
</head>
<body>
<div class="admin-main" id="win-pubmsg-object">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" id="${_csrf.parameterName}"/>
			<input type="hidden" id="bizId" value="${bizId}">
			<input type="hidden" id="bizType" value="${bizType}">
			<input type="hidden" id="taskId" value="${taskId}">
			<!-- 用于显示在办详情 -->
			<input type="hidden" id="processInstanceId" value="${processInstanceId}">
			<!-- 如果是流转监控过来的 该参数值为1 用于隐藏撤回按钮 -->
			<input type="hidden" id="isMonitor" value="${isMonitor}">
			<form class="layui-form" action="/res/file/download" method="get" id="action_form">
			   <input type="hidden" name="groupName" id="groupName">
			   <input type="hidden" name="fileName" id="fileName">
			</form>
			<div class="layui-tab-item layui-show" id="win-detail-object">
		    <!--公共信息审批流程-->
				<form class="layui-form layui-form-pane" id="detail-object-form" style="padding-top:40px;">
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					<input type="hidden" name="id" id="id">
				<!-- 	<div class="layui-form-item">
						<label class="layui-form-label">选择</label>
						<div class="layui-input-block" id="sign">
							<a class="layui-btn"  style="margin-left:20px;" onclick="change_btn()">
								<i class="layui-icon">&#xe6b2;</i>签收
							</a>
						</div>
						<div class="layui-input-block" id="btns">
							<a class="layui-btn" style="margin-left:20px;" onclick="yes()">
								<i class="layui-icon">&#xe6c6;</i>审批
							</a>
						</div>
					</div> -->
				<!-- 	<div class="layui-form-item">
						<label class="layui-form-label">公告名称</label>
						<div class="layui-input-block">
							<input type="text" name="title" id="title" lay-verify="required|spactily" autocomplete="off" class="layui-input">
						</div>
					</div> -->
					<!-- 公告名称 -->
					<!-- <div class="p_t10">
						<span class="e6ed">公告名称：</span>
						<span id="title"></span>
					</div> -->
					<div class="" style="text-align: center;">
					 <span id="title" style="font-size:16px;font-weight: bold;word-wrap:break-word"></span>
					</div>
					
					<!-- <div class="layui-form-item">
						<label class="layui-form-label">发布人</label>
						<div class="layui-input-block">
							<input type="text" name="publishName" id="publishName" lay-verify="required|spactily" autocomplete="off" class="layui-input">
						</div>
					</div> -->
					<!-- 发布人-->
					<div class="p_t10">
						<span class="e6ed">发布人：</span>
						<span id="publishName"></span>
					</div>
					
					<!--<div class="layui-form-item">
                        <label class="layui-form-label">发布时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="" id="" lay-verify="required|spactily" autocomplete="off" class="layui-input">
                        </div>
                    </div>-->
                    
					<!-- <div class="layui-form-item" >
						<label class="layui-form-label">所属分类</label>
						<div class="layui-input-block" style="z-index:1000;">
							<select name="categoryId" id="categoryId" lay-verify="required">
								<option value=""></option>
							</select>
						</div>
					</div> -->
					<!-- 所属分类-->
					<div class="p_t10">
						<span class="e6ed">所属分类：</span>
						<span id="categoryId"></span>
					</div>
					<div class="p_t10 cl">
						<span class="e6ed">有效期/天：</span>
						<span id="period"></span>
					</div>
					<div class="p_t10 cl">
						<span class="e6ed l">公告对象：</span>
						<div id="noticeObjName" class="l" style="word-wrap:break-word;width:85%;"></div>
					</div>
					<!--<div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                             <textarea name="content" id="content" onkeyup=""  maxlength="70" class="layui-textarea"></textarea>
                        </div>
                    </div>-->

					<!-- <div class="layui-form-item">
						<label class="layui-form-label">公告内容</label>
						<div class="layui-input-block">
							<script id="editor-id"  type="text/plain" style="width: 100%; height: 500px;"></script>
                        </div>
                    </div> -->
                     <!-- 公告内容 -->
	                <div class="outindss" style="clear:both;" id="mailContent">
					  	<p id="content" style="word-wrap: break-word;" class="heidf"></p>
					</div>
				
			<div class="p_t10 cl" >
				<span class="e6ed l">附件：</span>
				<div >
					<table class="layui-table" style="width: 50%;margin-top: 0px;border: none;">
				      <colgroup>
						    <col width="60%">
						    <col width="20%">
						    <col width="20%">
						  </colgroup>
				      	<tbody id="demoList">
                                <script   id="artt_detail"  type="text/html">
                                {{each filelist value index}}
                            <tr>
                            	<td style="border:none;">{{value.orgnlFileName}}</td>
                            	<td style="border:none;">{{value.fileSize}}kb</td>
                            	<td style="border:none;">
                            		
                                	<a onclick="showDownload('{{value.groupName}}','{{value.fileName}}')" style="color:#339bf1;cursor:pointer">下载</a>
                            	</td>
                            </tr>
                            {{/each}}
							</script>
						</tbody>
						<!-- <a style="color:#339bf1;cursor:pointer" index="{{index}}" onclick="aleafile('{{value.id}}',this,{{index}})">删除</a> -->
			    	</table> 
				</div>
			</div>
				<div class="btn_fixed_top" id="btns">
				    <!-- <div style="float:left;">
				        <a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="parent.layer.closeAll()"><i class="fa fa-backward "></i> 返回</a>
				    </div> 
					<div class="r"> -->
					<div>
						<a class="flow_btn act" style="display:none;" onclick="yes()" id="sub"><i class="layui-icon">&#xe6c6;</i>提交</a>
						<a class="flow_btn " onclick="change_btn()" id="sign"><i class="layui-icon">&#xe6b2;</i>签收</a>
						<a class="flow_btn btns" onclick="fixed.print('detail-object-form')"><i class="layui-icon">&#xe621;</i>打印</a>
						<a class="flow_btn btns" style="display:none;"onclick="fixed.showImg()"><i class="layui-icon">&#xe62c;</i>流程图</a>
						<a class="flow_btn btns" onclick="daily()"><i class="layui-icon">&#xe60a;</i>流转日志</a>
						<a class="flow_btn " id="revoke"><i class="layui-icon">&#xe6b2;</i>撤回</a>
						<a class="flow_btn act" style="display:none;" id="void-process"><i class="layui-icon">&#xe640;</i>作废</a>
					</div>
				</div>
				
			</form>
		</div>
	</div>
	</div>
	<!-- 日志 -->
	<div class="" id="win-daily-object" style="display:none;">
		<form class="layui-form layui-form-pane admin-main">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<div class="layui-form">
				  <table class="layui-table admin-table">
				  	  <colgroup>
					      <col width="10%">
					      <col width="20%">
					      <col width="10%">
					      <col width="15%">
					      <col width="45%">
					      <col>
					  </colgroup>
					<thead>
						<tr>
							<th style="display: none;">用户ID</th>
							<th>操作人</th>
							<th>流程方向</th>
							<th>接收人</th>
							<th>操作时间</th>
							<th>审核意见</th>
						</tr>
					</thead>
					<tbody id="paging2-data">
					<script id="paging2-script" type="text/html">
						{{each loglist value index}}
						<tr >
							<td style="display: none;">{{value.taskId}}</td>
							<td title="{{value.operationName}}">{{value.operationName}}</td>
							<td title="{{value.direction}}">{{value.direction}}</td>
							<td title="{{value.recevieUserName}}">{{value.recevieUserName}}</td>
							<td>{{value.operationTime}}</td>
							<td style="white-space:normal;word-wrap: break-word;">{{value.comment}} </td>
						</tr>
						{{/each}}
					</script>
					</tbody>
					</table>
			  </div>
			  <div class="admin-table-page" style="border-width: 0px; z-index: 0;">
					<div id="paging-footer" class="page" style="background-color: white; text-align: center;"></div>
			  </div>
		</form>
	</div>
	<!-- 审批填写意见弹窗 -->
	<div class="m_10" id="win-suggest-object" style="display:none;">
		<form class="layui-form " id="win-suggest-form">
		<div class="judge_div">
		<div class="l" style="width:58%;">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<div class="layui-form-item">
				<label class="layui-form-label" style="width:111px;font-weight:bold;">审批选择：</label>
				<div class="layui-input-block">
					<a class="layui-btn layui-btn-primary blue_border yes judge_btn" onclick="agree()">同意</a>
					<a class="layui-btn layui-btn-primary no judge_btn" onclick="noagree()" id="no_agree_btn">回退</a>
				</div>
			</div>
			<div class="agree">
				 <div class="layui-form-item">
					<label class="l" style="margin:0 7px 0 11px;font-weight:bold;">下一级审批环节：</label>
					<!-- <label style="margin-left:14px;">审批</label> -->
					<div class="layui-input-inline" style="z-index:2001;">
					   <select name="nextNode" lay-verify="" id="nextNode">
					    </select>
					</div>
				</div>
				<div class="layui-form-item">
					<!-- option1 -->
					<div id="audit-orgn" disabled="true">
						<label class="l" style="font-weight:bold;">下一级审批处理人：</label>
						<div class="l" style="width:73%"> 
							<div id="n_receiverName" class="judge input_btn reset1"></div>
							<a class="btn_blue2 r m_t10" onclick="personlSeclectOpen()">请选择</a>
							<input type="hidden" name="receiverId"  id="n_receiverNameid" class="reset">
                            <input type="hidden" id="n_receiverName_" class="reset">
							<input type="hidden" id="deptId" class="reset">
							<input type="hidden" id="deptUserId" class="reset">
							<input type="hidden" id="openType" value = "1">
							<input type="hidden" id="isNotEnd" class="reset" value="1"><!-- 值为0是结束节点 -->
						</div>
					</div>
					
					<!-- option2 -->
					<div class="m_t10" id="audit-member" disabled="true">
						<div class="multsel l" defval="0">
							<span class="view" style="font-weight:bold;">下一级审批处理人</span>
							<div class="selist" id="audit-member-list">
							</div>
						</div>
						<div id="testarea" class="judge1 input_btn reset1 l" readonly="readonly"></div>
					</div>
				</div>
			</div>
			
			<div class="noagree" style="display:none">
			<!-- 	<div class="layui-form-item">
					<label class="layui-form-label" title="回退到申请人">回退</label>
					<div class="layui-input-block">
						<input type="text" name="" id="" lay-verify="spactily" placeholder="回退到申请人"  autocomplete="off" class="layui-input">
					</div>
				</div> -->
				<div class="layui-form-item">
					<label class="l" style="margin-left:27px;font-weight:bold;">回退到上一级：</label>
					<!-- <label style="margin-left:14px;">审批</label> -->
					<div class="layui-input-inline" style="z-index:2001;">
					   <!--<select name="city" lay-verify="">

					    </select>-->
						<span id="pre-nodeName"></span>
					</div>
				</div>
			</div>
		<!-- 	<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">审批意见</label>
				<div class="layui-input-block">
					 <textarea name="" id="comment"   class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<a href="#" style="float:right;color:blue;">使用常用意见</a>
			</div> -->

				<label style="font-weight:bold;">意见：</label>
				<textarea id="draw_sug" style="height:100px;width:97%;margin-top:5px;" maxlength="95" onkeyup="countnum(this);"></textarea>
				<div class="r hand" onclick="add_sug()"><span class="table_btn"><small  style="color:#333;margin-right:20px;"><span id="count">0</span>/95</small>加入常用意见</span></div>
			</div>
			<div class="layui-form l judge_table" style="width:40%;">
				  <table class="layui-table admin-table">
				  	  <colgroup>
					      <col width="15%">
					      <col width="85%">
					      <col>
					  </colgroup>
					<thead>
						<tr>
							<th>序号</th>
							<th>常用意见</th>
						</tr>
					</thead>
					<tbody id="opinion-data">
					<script id="opinion-script" type="text/html">
					{{each opinionlist value index}}
						<tr > 
							<td>{{index+1}}</td>
							<td title="" class="hand" onclick="click_font(this)"><p class="hand sug" style="white-space: normal;">{{value.content}}</p></td>
						</tr>
					{{/each}}
					</script>
					</tbody>
					</table>
			  </div>
			</div>
			<div class="cl judge_fixed" style="margin:10px 0;">
				<a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="parent.layer.closeAll();" style="margin-right:10px;"><i class="fa fa-backward"></i> 返回</a>
				<div style="float: right;">
					<button class="layui-btn" lay-submit="" lay-filter="form-add-submit" id="form-add-submit">
						<i class="fa fa-save"></i> 确认
					</button>
				</div>
				<div style="float: right;margin-right:15px;">
					<button class="layui-btn" lay-submit="" lay-filter="form-jump-submit" style="display: none" id="form-jump-submit">
						<i class="fa fa-save"></i> 确认
					</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 人员选择树 -->
	<div style="display: none;z-index: 19940200;" id="win-personal-object">
		<div class="search_h">
			<input id="peopelSel" class="tree_search1 reset" type="text" value="" placeholder="搜索">
			<a class="layui-btn layui-btn-small" id="" onclick="searchNodes()"><i class="layui-icon">&#xe615;</i>搜索</a>
			<a class="layui-btn layui-btn-small layui-btn-primary" style="margin-left:2px;" type="reset" onclick="reset_tree()"><li class="fa fa-eraser"></li> 重置</a>
			<label type="text"  id="resultKey" class="form-control">  
                <div>  
                    <a id="clickUp" class="tree_up" onclick="clickUp()"><i class="layui-icon">&#xe619;</i></a>  
                    <a id="clickDown" class="tree_down" onclick="clickDown()"><i class="layui-icon">&#xe61a;</i></a>  
                </div>  
                <label id="number" class="tree_number"></label>  
            </label>  
        </div>
        <div class="tree_h">
        	<ul id="treeDemo" class="ztree treeDemo1" name="treeDemo" style="display:block"></ul>
        </div>
        <div class="sure_h">
		    <a class="layui-btn layui-btn-small sure_s"><li class="fa fa-save"></li> 确定</a>
		</div>
	</div>
	<script type="text/javascript" src="../../web/plugins/layui2/layui.js"></script>
	<script type="text/javascript" src="../../web/plugins/layui/lay/modules/laypage.js"></script>
	<script type="text/javascript" src="../../web/js/template-web.js"></script>
	<script type="text/javascript" src="../../web/js/jquery.js"></script>
	<script type="text/javascript" src="../../web/js/tool_upload.js"></script>
    <script type="text/javascript" src="../../web/js/jquery.ztree.all.min.js"></script>
	<script type="text/javascript" src="../../web/js/laydate/laydate.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../web/js/multsel.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../web/js/fixedform.js"></script>
	<script>
		var bizId = $("#bizId").val()
        var taskId = $("#taskId").val();
        var _csrf = $("#_csrf").val();
		//定义layui
		var pform;
		layui.use(['form','element'], function() {
			pform = layui.form;
            /*审批完成任务*/
            fixed.completeTask("form-add-submit","/pub/pubPublicInfo/completeTask",taskId,_csrf,bizId,"","detail-object-form");
            /*填写意见*/
            fixed.addComment("form-savecomment-submit",taskId,_csrf,$("#draw_sug").val());
            /*回退到上一节点*/
            fixed.jump2Task2("form-jump-submit","/pub/pubPublicInfo/jump2Task2",taskId,bizId,_csrf);
		});
        //清除事件(用于在办列表详情)
        //clearEvent();
		//常用意见列表
		fixed.opinionList();
        getCategory();
        //分类下拉框数据加载
        function getCategory(){
            var  param={
                _csrf:$("#_csrf").val()
            }
            tool.post("/pub/pubPublicInfoCategory/validList",param,function(data){
                $("#categoryId").empty();
                $("#categoryId").append('<option value="">请选择</option>');
                var str="";
                for(var i=0;i<data.length;i++){
                    str+=' <option value="'+data[i].id+'">'+data[i].name+'</option>';
                }
                $("#categoryId").append(str);
            },false)
        }

        /*下拉多选初始化*/
        multselInit();
        /*检查任务是否已被签收*/
        fixed.checkClaim(taskId,_csrf);
        detail($("#bizId").val());
        //公共信息详情
        function detail(id) {
            getCategory();
            var object = tool.getById("/pub/pubPublicInfo/getById", id);
            for ( var key in object) {
                $("#detail-object-form").find("#" + key).html(
                    object[key]);
            	if(key == 'categoryId'){
               		$("#categoryId").html(object['categoryName']);
               	}
            	/* 公告对象*/
                var noticeObjName=object.noticeObjName.replace(/;/g,"；");
                if(noticeObjName.substr(noticeObjName.length-1,1)=="；"){
                	noticeObjName=noticeObjName.substr(0,noticeObjName.length-1);
    			}
                $("#noticeObjName").text(noticeObjName);
                
                
                var fileBack=object.resResourceList;
                var filelist={filelist:fileBack};
                $('#demoList').html(template("artt_detail", filelist));
            }
        }

        function closeAuditDialog() {
            layer.closeAll();
        }

        /*切换按钮  */
		function change_btn(){
            fixed.claimTask(taskId,_csrf);
		}
		function agree(){
            $("#form-jump-submit").attr("style","display:none");
            $("#form-add-submit").removeAttr("style");
            $(".agree").show();
            $(".noagree").hide();
            $(".yes").addClass("blue_border");
            $(".no").removeClass("blue_border");
        }
		function noagree(){
            $("#form-add-submit").attr("style","display:none");
            $("#form-jump-submit").removeAttr("style");
            fixed.getPreTaskInfo(taskId,_csrf);
		}
		//审批弹窗
		function yes() {
            fixed.checkNextTaskInfo("/pub/pubPublicInfo/checkNextTaskInfo",taskId,_csrf);
            fixed.getNextTaskInfo(taskId,_csrf);
		}
		/* 日志 */
		function daily(){
            fixed.getAllTaskLogInfo("/pub/pubPublicInfo/getAllTaskInfo",taskId,_csrf);
		}
		/* 常用意见 */
		function suggest(){
			var index = layer.open({
				title : '填写意见',
				maxmin : false,
				type : 1,
				shadeClose: true,
                area: ['900px', '510px'],
				content : $('#win-suggest-object')
			});
			/* layer.full(index); */
		}
		//点击添加常用意见
		function click_font(obj){
			var a = $(obj).find('.sug').text();
			/* var b = $('#draw_sug').val(); */
			$('#draw_sug').val(a);
		}
		function add_sug(){
			layer.confirm('确定加入常用意见？', {
				  icon:3,
				  btn: ['确定','取消'] //按钮
				}, function(){
				  fixed.addOpinion();
				}, function(){

				});
		}
		//人员选择树
		function personlSeclectOpen(){
			var openType = $("#openType").val();
			var deptId = $("#deptId").val();
			var uId = $("#deptUserId").val();
			if(openType == "3"){
				/* 选择受理人和候选用户，有选择部门时，弹出组织机构数 */
				tool.treeDemo("win-personal-object",'treeDemo',"n_receiverNameid","n_receiverName_","n_receiverName",false,"",deptId,"","",uId);
			}else{
				/* 未选择受理人和候选用户，包含选择后找不到对应的办理或候选用户，弹出组织机构树，优先级最高 */
				tool.treeDemo("win-personal-object","treeDemo","n_receiverNameid","n_receiverName_","n_receiverName",false,"","","","");
			}
			//tool.treeDemo("win-personal-object",'treeDemo',"n_receiverNameid","n_receiverName_","n_receiverName",false,"",deptId,"","",uId);
			$("#number").html("");
		}
        //用按钮查询节点
        /* function searchNodes(){
            var keywords=$("#peopelSel").val();
            var nodes = mytree.getNodesByParamFuzzy("name", keywords, null);
            if (nodes.length>0) {
                mytree.selectNode(nodes[0]);
            }
        } */
		//重置树
		function reset_tree(){
			var mytree = $.fn.zTree.getZTreeObj("treeDemo");
		    //打开弹窗前重置节点以及关闭展开状态，避免叠加
		    $("#number").html("");
			$('.reset').val("");
			$('.reset1').html("");
			mytree.checkAllNodes(false)
		    mytree.expandAll(false);
		}

		//流程作废
		$("#void-process").on("click",function () {
        	fixed.voidProcess("/pub/pubPublicInfo/void",taskId,bizId,_csrf);
        });

		function clearEvent() {
			if($("#processInstanceId").val() != ''){
                $("#btns").find("a").each(function (index) {
                    $(this).removeAttr("onclick");
                });
            }
        }
		  //下载附件
        function showDownload(groupName,fileName){
	    	$("#groupName").val(groupName);
	    	$("#fileName").val(fileName);
			$("#action_form").submit();
    	}
	</script>
</body>
</html>