package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * 
 * @描述：${table.comment}(Mapper接口).
 * 
 * @作者：${author}
 * 
 * @时间: ${date}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}