package ${package.Service};

import com.baomidou.mybatisplus.plugins.Page;
import aljoin.object.PageBean;
import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * 
 * @描述：${table.comment}(服务类).
 * 
 * @作者：${author}
 * 
 * @时间: ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

	/**
	 * 
	 * @描述：${table.comment}(分页列表).
	 *
	 * @返回：Page<${entity}>
	 *
	 * @作者：${author}
	 *
	 * @时间：${date}
	 */
	public Page<${entity}> list(PageBean pageBean, ${entity} obj) throws Exception;
	}
