package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.plugins.Page;
import aljoin.dao.config.Where;
import aljoin.object.PageBean;

/**
 * 
 * @描述：${table.comment}(服务实现类).
 * 
 * @作者：${author}
 * 
 * @时间: ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

	@Override
	public Page<${entity}> list(PageBean pageBean, ${entity} obj) throws Exception {
		Where<${entity}> where = new Where<${entity}>();
		where.orderBy("create_time", false);
		Page<${entity}> page = selectPage(new Page<${entity}>(pageBean.getPageNum(), pageBean.getPageSize()), where);
		return page;
	}	
}
