<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aljoin.aut.dao.mapper.AutUserPubMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="aljoin.aut.dao.entity.AutUserPub">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
		<result column="version" property="version" />
		<result column="is_delete" property="isDelete" />
		<result column="last_update_user_id" property="lastUpdateUserId" />
		<result column="last_update_user_name" property="lastUpdateUserName" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_user_name" property="createUserName" />
		<result column="user_id" property="userId" />
		<result column="phone_number" property="phoneNumber" />
		<result column="tel_number" property="telNumber" />
		<result column="fax_number" property="faxNumber" />
		<result column="law_number" property="lawNumber" />
		<result column="chest_card_number" property="chestCardNumber" />
		<result column="user_icon" property="userIcon" />
		<result column="max_mail_size" property="maxMailSize" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, last_update_time, version, is_delete, last_update_user_id, last_update_user_name, create_user_id, create_user_name, user_id, phone_number, tel_number, fax_number, law_number, chest_card_number, user_icon, max_mail_size
    </sql>
    
    <!-- 根据ID删除对象(物理删除) -->
    <delete id="physicsDeleteById" parameterType="Long">
    	DELETE FROM aut_user_pub WHERE id = #{value}
    </delete>
    
    <!-- 复制对象(需要完整的对象数据，包括所有的公共字段) -->
    <insert id="copyObject" parameterType="AutUserPub">
    	INSERT INTO aut_user_pub(<include refid="Base_Column_List"></include>)
		VALUES(#{id}, #{createTime}, #{lastUpdateTime}, #{version}, #{isDelete}, #{lastUpdateUserId}, #{lastUpdateUserName}, #{createUserId}, #{createUserName}, #{userId}, #{phoneNumber}, #{telNumber}, #{faxNumber}, #{lawNumber}, #{chestCardNumber}, #{userIcon}, #{maxMailSize})
    </insert>

</mapper>
