<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aljoin.aut.dao.mapper.AutWidgetMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="aljoin.aut.dao.entity.AutWidget">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
		<result column="version" property="version" />
		<result column="is_delete" property="isDelete" />
		<result column="last_update_user_id" property="lastUpdateUserId" />
		<result column="last_update_user_name" property="lastUpdateUserName" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_user_name" property="createUserName" />
		<result column="widget_code" property="widgetCode" />
		<result column="widget_name" property="widgetName" />
		<result column="menu_id" property="menuId" />
		<result column="menu_code" property="menuCode" />
		<result column="is_active" property="isActive" />
		<result column="parent_menu_id" property="parentMenuId" />
		<result column="parent_menu_code" property="parentMenuCode" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, last_update_time, version, is_delete, last_update_user_id, last_update_user_name, create_user_id, create_user_name, widget_code, widget_name, menu_id, menu_code, is_active, parent_menu_id, parent_menu_code
    </sql>

</mapper>
