<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aljoin.goo.dao.mapper.GooInOutMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="aljoin.goo.dao.entity.GooInOut">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
		<result column="version" property="version" />
		<result column="is_delete" property="isDelete" />
		<result column="last_update_user_id" property="lastUpdateUserId" />
		<result column="last_update_user_name" property="lastUpdateUserName" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_user_name" property="createUserName" />
		<result column="submit_time" property="submitTime" />
		<result column="title" property="title" />
		<result column="process_name" property="processName" />
		<result column="publish_name" property="publishName" />
		<result column="goo_id" property="gooId" />
		<result column="goo_name" property="gooName" />
		<result column="category_id" property="categoryId" />
		<result column="category_name" property="categoryName" />
		<result column="in_out_status" property="inOutStatus" />
		<result column="content" property="content" />
		<result column="audit_status" property="auditStatus" />
		<result column="audit_time" property="auditTime" />
		<result column="process_id" property="processId" />
		<result column="number" property="number" />
		<result column="list_code" property="listCode" />
		<result column="goo_in_out_proc_inst_id" property="gooInOutProcInstId" />
		<result column="unit" property="unit" />
		<result column="goo_number" property="gooNumber" />
		<result column="goo_purchase_proc_inst_id" property="gooPurchaseProcInstId" />
		<result column="dept_name" property="deptName" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, last_update_time, version, is_delete, last_update_user_id, last_update_user_name, create_user_id, create_user_name, submit_time, title, process_name, publish_name, goo_id, goo_name, category_id, category_name, in_out_status, content, audit_status, audit_time, process_id, number, list_code, goo_in_out_proc_inst_id, unit, goo_number
    </sql>
    
    <!-- 根据ID删除对象(物理删除) -->
    <delete id="physicsDeleteById" parameterType="Long">
    	DELETE FROM goo_in_out WHERE id = #{value}
    </delete>
    
    <!-- 复制对象(需要完整的对象数据，包括所有的公共字段) -->
    <insert id="copyObject" parameterType="GooInOut">
    	INSERT INTO goo_in_out(<include refid="Base_Column_List"></include>)
		VALUES(#{id}, #{createTime}, #{lastUpdateTime}, #{version}, #{isDelete}, #{lastUpdateUserId}, #{lastUpdateUserName}, #{createUserId}, #{createUserName}, #{submitTime}, #{title}, #{processName}, #{publishName}, #{gooId}, #{gooName}, #{categoryId}, #{categoryName}, #{inOutStatus}, #{content}, #{auditStatus}, #{auditTime}, #{processId}, #{number}, #{listCode}, #{gooInOutProcInstId}, #{unit}, #{gooNumber})
    </insert>

</mapper>
