<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>个人页面定制</title>
<link rel="stylesheet" href="/getCssStyle?css=static/web/plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../../web/css/global.css" media="all">
<link rel="stylesheet" href="../../web/css/zTreeStyle.css" media="all">
<link rel="stylesheet" href="../../web/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../web/css/table.css" />
<link rel="stylesheet" href="/getCssStyle?css=static/web/plugins/layui2/css/layui.css" />
<link rel="stylesheet" href="../../web/css/public.css" media="all">
</head>
<body> 
	<input type="hidden" name="${_csrf.parameterName}" id="${_csrf.parameterName}" value="${_csrf.token}" />
  		<div class="admin-main content_sel">
  			<blockquote class="layui-elem-quote" style="padding:5px;text-align: right;">
				<form class="layui-form" action="">
					<div>
						<div class="layui-input-inline">
							<input type="text" name="searchKey" id="searchKey" placeholder="输入姓名查询" autocomplete="off" class="layui-input"
								style="height: 30px; line-height: 30px;">
						</div>
						<span><@a code="000101" href="javascript:void(0)" class="layui-btn layui-btn-small" id="" onclick="loadData()" iclass="layui-icon"
							 icon="&#xe615;" text="查询"/></span>
					</div>
			<!-- 	    <div class="layui-input-inline">
					  	<span><a class="layui-btn layui-btn-small" onclick="onclick="showDeletes()"><i class="layui-icon">&#xe640;</i>删除</a></span>
					</div> -->
				</form>
			</blockquote>
			<!-- <form class="layui-form" action="">
			<div>
				<div class="layui-input-inline m_r10" >
				 	<span>姓名</span>
				</div>
				<div class="layui-input-inline m_r20">
					<input type="text" class="inp_w120px" name="" id="" style="width:180px;">
				</div>
				<span><a class="btn_search_blue" id="" onclick="edit()" style="float:right;">查询</a></span>
		    </div>
			</form> -->
			<div class="layui-form">
				<table class="layui-table admin-table" lay-skin="line">
					<thead>
						<tr>
							<th style="width: 20px;"><input type="checkbox" lay-skin="primary" lay-filter="paging_check-all"></th>
							<th style="display: none;">用户ID</th>
							<th>序号</th>
							<th>名称</th>
							<th>排序</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
			<tbody id="paging-data">
			<script id="paging-script" type="text/html">
					{{each records value index}}
						<tr onclick="detail()"> 
							<td><input type="checkbox"  class="check-id"  lay-skin="primary"   id="{{value.id}}"></td>
							<td style="display: none;">{{value.id}}</td>
							<td>{{value.}}</td>
							<td>{{value.}}</td>
							<td>{{value.}}</td>
							<td>{{value.}}</td>
							<td>
								<@a code="" href="javascript:void(0)" class="layui-btn layui-btn-mini" id="show-edit" onclick="edit('{{value.id}}')" text="编辑"/>
							</td>
						</tr>
					{{/each}}
			</script>
			</tbody>
			</table>
			</div>
			<div class="admin-table-page" style="border-width: 0px; z-index: 0;">
				<div id="paging-footer" class="page" style="background-color: white; text-align: center;"></div>
			</div>
  		</div>
  	<!-- 编辑-->	
  	<div class="m_30_noleft" style="display: none; z-index: 19940200;" id="edit-object-form">
		<form class="layui-form">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<div class="layui-form-item">
				<label class="layui-form-label">名称</label>
				<div class="layui-input-block">
					<input type="text" name="" id="" lay-verify="required|spactily" autocomplete="off" placeholder="名称" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">排序</label>
				<div class="layui-input-block">
					<input type="text" name="" id="" lay-verify="required|spactily" autocomplete="off" placeholder="排序" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-block">
					<input type="radio" name="how" value="显示" title="显示">
			    	<input type="radio" name="how" value="隐藏" title="隐藏" checked>
				</div>
			</div>
			<div class="layui-input-block" style="margin-top: 15px;clear:both;">
				<div style="float: right;">
					<button class="layui-btn" lay-submit="" lay-filter="form-add-submit">
						<i class="fa fa-save"></i> 保存
					</button>
					<button type="reset" class="layui-btn layui-btn-primary">
						<li class="fa fa-eraser"></li> 重置
					</button>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="../../web/plugins/layui2/layui.js"></script>
	<script type="text/javascript" src="../../web/plugins/layui/lay/modules/laypage.js"></script>
	<script type="text/javascript" src="../../web/js/template-web.js"></script>
	<script type="text/javascript" src="../../web/js/jquery.js"></script>
	<script type="text/javascript" src="../../web/js/tool_upload.js"></script>
    <script type="text/javascript" src="../../web/js/jquery.ztree.all.min.js"></script>
	<script type="text/javascript" src="../../web/js/laydate/laydate.js"></script>
	<script type="text/javascript" src="../../web/js/tool_upload.js"></script>
	<script>
		//定义layui
		var pform;
		layui.use(['form','element'], function() {
			pform = layui.form;
		});
		//编辑
		function edit() {
			var index = layer.open({
				title : '编辑',
				maxmin : false,
				type : 1,
				content : $('#edit-object-form')
			});
			pform.render();
			layer.full(index);
		}
	</script>
</body>
</html>