<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>已发短信</title>
<link rel="stylesheet" href="/getCssStyle?css=static/web/plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../../web/css/global.css" media="all">
<link rel="stylesheet" href="../../web/css/zTreeStyle.css" media="all">
<link rel="stylesheet" href="../../web/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../web/css/table.css" />
<link rel="stylesheet" href="/getCssStyle?css=static/web/plugins/layui2/css/layui.css" />
<link rel="stylesheet" href="../../web/css/zhengls.css" media="all">
<link rel="stylesheet" href="../../web/css/public.css" media="all">
<style>
	.layui-form-pane .label_m{width:90px;}
	.layui-form-pane .layui-input-block1{margin-left:90px;}
	.layui-input-block1 .layui-select-title .layui-input{width:100px;}
</style>
</head>
<body> 
	<input type="hidden" name="${_csrf.parameterName}" id="${_csrf.parameterName}" value="${_csrf.token}" />
	<div class="admin-main">
		<blockquote class="layui-elem-quote" style="padding:5px;">
			<form class="layui-form" action="">
				<div style="float:right;">
					<div class="layui-input-inline m_r10">
					 	 <span>发送时间</span>
					</div>
					<div class="layui-input-inline m_r10">
						 <input type="text" class="inp_date" name="" id="startTime" readonly="readonly">
					</div>
					<div class="layui-input-inline m_r10">
					 <span>至</span>
					</div>
					<div class="layui-input-inline m_r20">
						  <input type="text" class="inp_date" name="" id="endTime" readonly="readonly">
					</div> 
					<div class="layui-input-inline">
						<input type="text" name="searchKey" id="searchKey" placeholder="请输入主题或收信人" autocomplete="off" class="layui-input"
							style="height: 30px; line-height: 30px;" maxlength="20">
					</div>
					<span><@a code="110102" href="javascript:void(0)" class="layui-btn layui-btn-small" id="" iclass="layui-icon"
						 icon="&#xe615;" text="查询" onclick="loadData()"/></span>
				</div>
				<div class="layui-input-inline">
					<span><@a code="110102" href="javascript:void(0)" class="layui-btn layui-btn-small" id="" iclass="layui-icon"
						 icon="&#xe63b;" text="新建短信" onclick="newSms()"/></span>				
				</div>
			    <!-- <div class="layui-input-inline">
				  	<span><a class="layui-btn layui-btn-small" onclick="showDeletes()"><i class="layui-icon">&#xe640;</i>删除</a></span>
				</div> --> 
			</form>
		</blockquote>
		<div class="layui-form">
			<table class="layui-table admin-table">
					 <!--  <colgroup>
					    <col width="5%">
					    <col width="20%">
					    <col width="50%">
					    <col width="10%">
					    <col width="15%">
					    <col>
					  </colgroup> -->
				<thead>
					<tr>
						<th style="width: 20px;"><input type="checkbox" lay-skin="primary"   id="paging_check-all" lay-filter="paging_check-all"></th>
						<th style="display: none;">用户ID</th>
						<th style="width: 150px;">收信人</th>
						<th>主题</th>
						<th style="width: 60px;">发送人数</th>
						<th style="width: 160px;">发送时间</th>
					</tr>
				</thead>
				<tbody id="paging-data">
					<script id="paging-script" type="text/html">
					{{each records value index}}
						<tr> 
							<td><input type="checkbox"  class="check-id moreInput"  lay-skin="primary"   id="{{value.id}}"></td>
							<td style="display: none;">{{value.id}}</td>
							<td title="{{if value.receiverName.substr(value.receiverName.length-1,1)==";"}}{{value.receiverName.substr(0,value.receiverName.length-1)}}{{/if}}{{if value.receiverName.substr(value.receiverName.length-1,1)!=";"}}{{value.receiverName}}{{/if}}">{{if value.receiverName.substr(value.receiverName.length-1,1)==";"}}{{value.receiverName.substr(0,value.receiverName.length-1)}}{{/if}}{{if value.receiverName.substr(value.receiverName.length-1,1)!=";"}}{{value.receiverName}}{{/if}}</td>
							<td onclick="detail('{{value.id}}')" class="hand table_link" title="{{value.theme}}">{{value.theme}}</td>
							<td>{{value.sendNumber}}</td>
							<td title="{{value.sendTime}}">{{value.sendTime}}</td>
						</tr>
					{{/each}}
					</script>
				</tbody>
			</table>
		</div>
		<div class="admin-table-page" style="border-width: 0px; z-index: 0;">
			<div id="paging-footer" class="page" style="background-color: white; text-align: center;"></div>
		</div>
	<!-- 新建短信 -->
	<div class="admin-main" style="display: none; z-index: 19940200;" id="win-newsms-object">
		<form class="layui-form layui-form-pane" id="add-object-form">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<input type="hidden" name="sendNumber" value="1" />
			<input type="hidden" name="sendStatus" value="2" />
			<input type="hidden" name="sendNumber" value="2" />
			<div class="layui-form-item">
				<label class="layui-form-label">可用变量</label>
				<div class="layui-input-block">
					<!-- <input type="text" name="" id="" lay-verify="" autocomplete="off" placeholder="{$1}:手机号码；{$2}:姓名；{$3}:角色名；" readonly="readonly" class="layui-input"> -->
					<ul style="margin-left:10px;">
						<li class="hand" onclick="click_font(this)"><span class="num">$1</span>&nbsp;&nbsp;：姓名；</li>
						<li class="hand" onclick="click_font(this)"><span class="num">$2</span>&nbsp;&nbsp;：角色；</li>
						<li class="hand" onclick="click_font(this)"><span class="num">$3</span>&nbsp;&nbsp;：岗位；</li>
					</ul>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">主题</label>
				<div class="layui-input-block">
					<input type="text" name="theme" id="n_theme" lay-verify="required" maxlength="50" autocomplete="off" placeholder="主题" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="textarea_new layui-form-label">内容</label>
				<div class="layui-input-block">
					 <textarea name="content" id="n_content" lay-verify="required" placeholder="请输入内容" onkeyup="countnum(this);"  maxlength="70" class="layui-textarea"></textarea>
					 <span>每70个字计算为一条短信发送</span><small  style="float:right;"><span id="count">0</span>/70</small>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">收信人</label>
				<div class="layui-input-block">
					<div type="text" name="receiverName" id="n_receiverName" class="newgg input_btn reset1"  readonly="readonly"></div>
					<input type="hidden" name="receiverName" id="hidden_receiverName" lay-verify="required" class="reset"/>
					<a class="btn_blue2" onclick="personlSeclectOpen()" style="float:right;">人员选择</a>
					<input type="hidden" name="receiverId"  id="n_receiverNameid" class="reset">
				</div>
			</div>
			<div class="btn_fixed" style="margin-top: 15px;">
				<a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="layer.closeAll();"><i class="fa fa-backward"></i> 返回</a>
				<div style="float: right;">
					<button class="layui-btn submit" lay-submit="" lay-filter="form-add-submit">
						<i class="fa fa-save"></i> 提交
					</button>
					<button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="form-save-submit">
						<li class="fa fa-eraser"></li> 保存
					</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 短信详情 -->
	<div class="admin-main" style="display: none; z-index: 19940200;" id="win-detail-object">
		<form class="layui-form layui-form-pane" id="add-object-form">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
		<!-- 	<div class="layui-form-item">
				<label class="layui-form-label">主题</label>
				<div class="layui-input-block">
					<input type="" name="theme" id="d_theme" lay-verify="required|spactily" autocomplete="off" readonly="readonly" class="layui-input">
				</div>
			</div> -->

			<!-- 标题 -->
			<div class="" style="text-align: center;">
				 <span id="d_theme" style="font-size:16px;font-weight: bold;word-wrap:break-word"></span>
			</div>
			
		<!-- 	<div class="layui-form-item">
				<label class="layui-form-label">内容</label>
				<div class="layui-input-block">
					 <div name="" id="d_content" readonly="readonly" class="newgg"></div>					 
				</div>
			</div> -->

			
			<!-- <div class="layui-form-item">
				<label class="layui-form-label">收信人</label>
				<div class="layui-input-block">
					 <div name="" id="d_receiverName" readonly="readonly" class="newgg"></div>					 
				</div>
			</div> -->
			<!-- 收信人-->
			<div class="p_t10 cl">
				<span class="e6ed l">收信人 ：</span>
				<div id="d_receiverName" class="l" style="word-wrap:break-word;width:85%;"></div>
			</div>
			
			<!-- 内容 -->
            <div class="outindss p_t10 line_h_26px l" style="clear:both;" id="mailContent">
			     <p id="d_content" style="word-wrap: break-word;" class="heidf"></p>
			</div>
			
			<div class="btn_fixed">
				<a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="layer.closeAll();"><i class="fa fa-backward"></i> 返回</a>
				<div style="float: right;">
				</div>
			</div>
		</form>
	</div>
	<!-- 人员选择树 -->
	<div style="display: none;z-index: 19940200;" id="win-personal-object">
		<div class="search_h">
			<input id="peopelSel" class="tree_search1 reset" type="text" value="" placeholder="搜索">
			<a class="layui-btn layui-btn-small" id="" onclick="searchNodes()"><i class="layui-icon">&#xe615;</i>搜索</a>
			<a class="layui-btn layui-btn-small layui-btn-primary" style="margin-left:2px;" type="reset" onclick="reset_tree()"><li class="fa fa-eraser"></li> 重置</a>
			<label type="text"  id="resultKey" class="form-control">  
                <div>  
                    <a id="clickUp" class="tree_up" onclick="clickUp()"><i class="layui-icon">&#xe619;</i></a>  
                    <a id="clickDown" class="tree_down" onclick="clickDown()"><i class="layui-icon">&#xe61a;</i></a>  
                </div>  
                <label id="number" class="tree_number"></label>  
            </label>  
        </div>
        <div class="tree_h">
        	<ul id="treeDemo" class="ztree treeDemo1" name="treeDemo" style="display:block"></ul>
        </div>
        <div class="sure_h">
     		 <a class="layui-btn layui-btn-small sure_s"><li class="fa fa-save"></li> 确定</a>
		</div>
	</div>
	<script type="text/javascript" src="../../web/plugins/layui2/layui.js"></script>
	<script type="text/javascript" src="../../web/plugins/layui/lay/modules/laypage.js"></script>
	<script type="text/javascript" src="../../web/js/template-web.js"></script>
	<script type="text/javascript" src="../../web/js/jquery.js"></script>
	<script type="text/javascript" src="../../web/js/tool_upload.js"></script>
    <script type="text/javascript" src="../../web/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../web/js/jquery.ztree.exhide-3.5.min.js"></script>
	<script type="text/javascript" src="../../web/js/laydate/laydate.js"></script>
	<script>
		//时间控件
	 	 //tool.timeset('#startTime','#endTime');
	 	 tool.dateTime('#startTime','#endTime','',false);
		//定义layui
		var pform;
		var flag = true;
		layui.use('form', function() {
			pform = layui.form;
			loadData();
			//提交监听
			pform.on('submit(form-add-submit)', function(data) {
				layer.confirm('确定提交吗 ?', {
                    icon: 3,
                    title: '提示'
                },function(index){
                	if(flag == true){
    					flag = false;
    					tool.post("../smsShortMessage/add",$("#add-object-form").serialize(), postCallBack,false);
    				}
                });
				return false;
			});
			//保存为草稿监听
			pform.on('submit(form-save-submit)', function(data) {
				if(flag == true){
					flag = false;
					tool.post("../smsShortMessageDraft/add",$("#add-object-form").serialize(), postCallBack_draft,false);
				}
				return false;
			});
		 	pform.verify({
	            //限制输入的长度为200
	            textLength200 : function(value) {
	                if (value.length>200) {
	                    return "长度不能超过200个字符";
	                }
	            },
	            //限制不能输入特殊10
	            specailChar:function (value) {
	                if (new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？]").test(value)) {
	                    return '不能输入特殊字符';
	                }
	            }
	        });
			function postCallBack(retMsg){
				if (retMsg.code == 0) {
					layer.closeAll(); 
					tool.success(retMsg.message);
				 	loadData(); 
				 	//window.location.reload();//刷新整个页面
					/* $('.submit').attr("disabled","disabled").css("background","#ccc") */
				} else {
					tool.error(retMsg.message);
				}
			}
			
			function postCallBack_draft(retMsg){
				if (retMsg.code == 0) {
					layer.closeAll();
					loadData();
					layer.alert(retMsg.message, {
			    			title : "操作提示",
			    			icon : 1,
			    			closeBtn:0
			    		},function(index){
			    			location.href="/sms/smsShortMessageDraft/smsDraftPage";
			    			$("a[data-url='/sms/smsShortMessage/smsalreadysentPage']",window.parent.document).parent().removeClass("layui-this");
			    			$("a[data-url='/sms/smsShortMessageDraft/smsDraftPage']",window.parent.document).parent().addClass("layui-this");
			    			$("a[data-url='/sms/smsShortMessageDraft/smsDraftPage']",window.parent.document).parent().parent().parent().addClass("layui-nav-itemed");
			    			layer.close(index);
			    		});		 
				} else {
					tool.error(retMsg.message);
				}
			}	
			
		});

		//加载数据
		function loadData() {
			var param = new Object();
			param.container = "paging";
			/* param.pageSize = 10; */
			param.pageSize = 10;
			param.pageNum = 1;
			param.url = "../smsShortMessage/list";
	     	param.theme = $("#searchKey").val(); 
	     	param.receiverName = $("#searchKey").val(); 
	     	param.time1 = $("#startTime").val(); 
	     	param.time2 = $("#endTime").val(); 
			tool.loadpage(param); 
		}
		//新建短信弹窗
		function newSms() {
			$("#n_theme").val("");
			$("#n_content").val("");
			$("#n_receiverName").html("");
			$("#hidden_receiverName").val("");
			$("#n_receiverNameid").val("");
			var index = layer.open({
				title : '新建短信',
				maxmin : false,
				type : 1,
				content : $('#win-newsms-object')
			});
			layer.full(index);
		}
		//点击添加变量
		function click_font(obj){
			var a = $(obj).find('.num').html();
			var b = $('#n_content').val();
			$('#n_content').val(b+a);
		}
		//计算文本域数字
		function countnum(par) { 
			var min = 0; 
			if (par.value.length > min){ 
			var str = min + par.value.length; 
			document.getElementById("count").innerHTML = str.toString(); 
			}
		} 
		//短信详情
		function detail(id) {
			var a = tool.getById("../smsShortMessage/getById", id);
			$("#d_theme").html(a.theme);
			$("#d_content").html(a.content);
			$("#d_receiverName").html(a.receiverName);
			
			
			/* 收信人*/
            var d_receiverName=a.receiverName.replace(/;/g,"；");
            $("#d_receiverName").text(d_receiverName);
            
			var index = layer.open({
				title : '已发短信详情',
				maxmin : false,
				type : 1,
				content : $('#win-detail-object')
			});
			layer.full(index);
		}
      	//批量删除
		function showDeletes(){
			  if($(".moreInput:checked").length==0){
					tool.error('至少选中一个');
			  }else{
			  var str="";
			  $(".moreInput:checked").each(function(index,value){
				  str+=value.id+";";
			  })
			   //调批量删除接口 最后重新渲染列表 
			  layer.confirm('确定删除吗 ?', {
					icon : 3,
					title : '提示'
				}, function(index) {
					var retMsg = tool.deleteByIds("../smsShortMessage/deleteShortMessageList", str)
					if (retMsg.code == 0) {
						$("#paging_check-all").attr("checked",false);
						pform.render();
						tool.success(retMsg.message);
						layer.closeAll();
						loadData(); 
					} else {
						tool.error(retMsg.message);
					}
				}); 
			   
			  }
		  }
        //人员选择树
		function personlSeclectOpen(){	  
			tool.treeDemo("win-personal-object",'treeDemo',"n_receiverNameid","hidden_receiverName","n_receiverName");
			$("#number").html("");
      	}
        //用按钮查询节点  
       /*  function searchNodes(){  
            var keywords=$("#peopelSel").val();  
            var nodes = mytree.getNodesByParamFuzzy("name", keywords, null);  
            if (nodes.length>0) {  
                mytree.selectNode(nodes[0]);  
            }  
        }   */
		//重置树
		function reset_tree(){
			var mytree = $.fn.zTree.getZTreeObj("treeDemo");
		    //打开弹窗前重置节点以及关闭展开状态，避免叠加
			$('.reset').val("");
			$('.reset1').html("");
			$("#number").html("");
			mytree.checkAllNodes(false)
		    mytree.expandAll(false);
		}
		
	</script>
</body>
</html>