<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aljoin.ioa.dao.mapper.IoaRegClosedMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="aljoin.ioa.dao.entity.IoaRegClosed">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
		<result column="version" property="version" />
		<result column="is_delete" property="isDelete" />
		<result column="last_update_user_id" property="lastUpdateUserId" />
		<result column="last_update_user_name" property="lastUpdateUserName" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_user_name" property="createUserName" />
		<result column="title" property="title" />
		<result column="registration_name" property="registrationName" />
		<result column="registration_time" property="registrationTime" />
		<result column="closed_no" property="closedNo" />
		<result column="to_no" property="toNo" />
		<result column="to_type" property="toType" />
		<result column="to_unit" property="toUnit" />
		<result column="secret_level" property="secretLevel" />
		<result column="closed_date" property="closedDate" />
		<result column="priorities_level" property="prioritiesLevel" />
		<result column="priorities" property="priorities" />
		<result column="closed_number" property="closedNumber" />
		<result column="level" property="level" />
		<result column="category" property="category" />
		<result column="is_change" property="isChange" />

	</resultMap>
	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, create_time, last_update_time, version, is_delete,
		last_update_user_id, last_update_user_name, create_user_id,
		create_user_name,title,registration_name,registration_time,closed_no,to_no,to_unit,secret_level,closed_date,priorities_level,priorities,closed_number,level,category,is_change
	</sql>

	<!-- 根据ID删除对象(物理删除) -->
	<delete id="physicsDeleteById" parameterType="Long">
		DELETE FROM
		ioa_reg_closed WHERE id = #{value}
	</delete>

	<!-- 复制对象(需要完整的对象数据，包括所有的公共字段) -->
	<insert id="copyObject" parameterType="IoaCircula">
		INSERT INTO ioa_reg_closed (
		<include refid="Base_Column_List"></include>
		)
		VALUES(#{id}, #{createTime}, #{lastUpdateTime}, #{version},
		#{isDelete}, #{lastUpdateUserId}, #{lastUpdateUserName},#{createUserId},#{createUserName},#{title},#{registrationName},#{registrationTime},#{closedNo},#{toNo},#{toType},#{toUnit},#{secretLevel},#{closedDate}
		,#{prioritiesLevel},#{priorities},#{level},#{category},#{isChange})
	</insert>

</mapper>
