<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>pageoffice</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<!-- PageOffice.js文件和jquery.min.js一定要引用 -->
<script type="text/javascript" src="../../pageoffice/js/jquery.min.js"></script>
<script type="text/javascript" src="../../pageoffice.js" id="po_js_main"></script>
</head>

<body>
	<script type="text/javascript">
		/* var pform;
		layui.use([ 'form', 'element', 'laydate' ], function() {
			pform = layui.form;
		}) */
		var urlPath = '/pag/pageOffice/openWord?';
		$(document).ready(function() {
			//先判断 是否新文档，编辑模式
			var isNewWord = $("#isNewWord").val();
			if (isNewWord == '1') {
				openNewWord();
			} else {
				OpenDocument(urlPath + packParams());
			}
			//TODO 后续开发模板文件 在启用  (since 11.23) 上传模板文件到表 res_attachment 下来框value 
			//设置 attache_id 值即可，redTitleSetting() 把附件id传后台即可
			/* if ($("#redTitle").val() == '1') {
				$("#modelSelectId").css("display", "block");
				//数据库获取模板文件				TODO
			} */

		})

		//封装请求参数
		function packParams() {
			var str = "_csrf=" + $("#_csrf").val() + "&openModeType="
					+ $("#openModeType").val() + "&resourceId="
					+ $("#resourceId").val() + "&attachId="
					+ $("#attachId").val() + "&redTitle="
					+ $("#redTitle").val() + "&handSign="
					+ $("#handSign").val() + "&fileNameDesc="
					+ $("#fileNameDesc").val() + "&isNewWord="
					+ $("#isNewWord").val();

			return str;
		}
		//自定义保存按钮
		function Save() {
			document.getElementById("PageOfficeCtrl1").SaveFilePage = "/pag/pageOffice/saveFile?"
					+ packParams();
			//alert(document.getElementById("PageOfficeCtrl1").SaveFilePage );
			document.getElementById("PageOfficeCtrl1").WebSave();
			Close();
		}
		//自定义痕迹保留按钮 
		function showRevisions() {
			if (document.getElementById("PageOfficeCtrl1").ShowRevisions == false) {
				document.getElementById("PageOfficeCtrl1").ShowRevisions = true;
			} else {
				document.getElementById("PageOfficeCtrl1").ShowRevisions = false;
			}
			/* document.getElementById("PageOfficeCtrl1").ShowRevisions = true|false; */
		}
		//文档加载完成触发函数
		function AfterDocumentOpened() {
			//文档打开后shij
			//$("#btn1").removeAttr("disabled");

			document.getElementById("PageOfficeCtrl1").SetEnableFileCommand(3,
					false); // 禁止保存
			//document.getElementById("PageOfficeCtrl1").SetEnableFileCommand(4, false); // 禁止另存
			// document.getElementById("PageOfficeCtrl1").SetEnableFileCommand(5, false); //禁止打印
			// document.getElementById("PageOfficeCtrl1").SetEnableFileCommand(6, false); // 禁止页面设置

			var rs = document.getElementById("PageOfficeCtrl1").CustomSaveResult;
			//alert(rs);
		}
		//加载文档
		function OpenDocument(strUrl) {
			/* $.ajax({
				  type: 'POST',
				  url: strUrl,
				  success: function(data){
					  $("#divDocView").html(data);
				  },error:function(err){
					  alert(JSON.stringify(err));
				  },
				  dataType: 'json'
				}); */

			$.post(strUrl, {}, function(data) {
				$("#divDocView").html(data);
			});
		}
		//全屏按钮
		function SetFullScreen() {
			document.getElementById("PageOfficeCtrl1").FullScreen = !document
					.getElementById("PageOfficeCtrl1").FullScreen;
		}
		//关闭按钮
		function Close() {
			POBrowser.closeWindow();
		}
		//导入数据
		function importData() {
			document.getElementById("PageOfficeCtrl1").WordImportDialog();
			$("#isFileExist").val(1);
		}
		/* function BeforeBrowserClosed(){
			try {
				　if (document.getElementById("PageOfficeCtrl1").IsDirty){
		            if(confirm("提示：文档已被修改，是否继续关闭放弃保存 ？"))
		            {
		                return  true;
		                
		            }else{
		            
		                return  false;
		            }
		        }
		　　} catch(error) {
		　　		alert(error);
		　　} finally {
		　　// 此处是出口语句
		　　}
		    
		} */
		//导入数据提交
		function submitData() {
			var exist = eval($("#isFileExist").val());
			if (exist != 1 && $("#attachId").val() == "") {
				document.getElementById("PageOfficeCtrl1").Alert("请先Word导入文档");
				//	alert("请先导入文档");
				/* var index = layer.open({
					title: '友情提醒',
					area:['100px','200px'],
					maxmin : false,
					type : 1,
					content : "#tipStr"
				}); */
				return;
			}
			document.getElementById("PageOfficeCtrl1").SaveFilePage = "/pag/pageOffice/submitData?"
					+ packParams();
			//alert(document.getElementById("PageOfficeCtrl1").SaveFilePage );
			document.getElementById("PageOfficeCtrl1").WebSave();
			//防止js 传整型数字 会偏差  在传值后续加 _Str 转字符串
			var result = document.getElementById("PageOfficeCtrl1").CustomSaveResult

			var returnAttachId = result.split("|")[0] + "_Str";
			
			var returnAttachName = result.split("|")[1];
			returnAttachName = encodeURIComponent(encodeURIComponent(returnAttachName));
			POBrowser.callParentJs("setAttachId('" + returnAttachId + "','"
					+ returnAttachName + "')"); //回调父窗口传值
			Close();

		}
		//打开新建word页面
		function openNewWord() {
			var strUrl = "/pag/pageOffice/openNewWord?" + packParams();
			/* $.post(strUrl, {}, function(data) {
				$("#divDocView").html(data);
			}); */
			var jqxhr = $.post(strUrl, {}, function(data) {
				$("#divDocView").html(data);

			}).error(
					function(obj) {
						if (obj.status == 500) {
							alert("错误代码：" + obj.responseJSON.status
									+ "===错误信息：" + obj.responseJSON.message)
						}
						//	alert("处理异常:" + JSON.stringify(obj)); //所有错误信息
					});
		}

		//套红按钮开发
		function redTitleSetting() {
			//先调用 layer 选择 模板 （下来选择）TODO

			var strUrl = "/pag/pageOffice/redTitleSetting?" + packParams()
					+ "&modelId=" + $("#modelSelectId").val();
			//alert(strUrl);
			$.post(strUrl, {}, function(data) {
				$("#divDocView").html(data);
			});
		}

		/* setInterval("WebSave1()", 1000 * 60);//假设每分钟保存一次
		function WebSave1() {
			document.getElementById("PageOfficeCtrl1").AutoWebSave();
		} */
	</script>
	<form action="" id=""></form>
	<input type="hidden" id="${_csrf.parameterName}"
		name="${_csrf.parameterName}" value="${_csrf.token}" />
	<input type="hidden" id="openModeType" name="openModeType"
		value="${pageOfficePermissionBean.openModeType}" />
	<input type="hidden" id="isNewWord" name="isNewWord"
		value="${pageOfficePermissionBean.isNewWord}" />
	<input type="hidden" id="resourceId" name="resourceId"
		value="${pageOfficePermissionBean.resourceId}" />
	<input type="hidden" id="redTitle" name="redTitle"
		value="${pageOfficePermissionBean.redTitle}" />
	<input type="hidden" id="attachId" name="attachId"
		value="${pageOfficePermissionBean.attachId}" />
	<input type="hidden" id="fileNameDesc" name="fileNameDesc"
		value="${pageOfficePermissionBean.fileNameDesc}" />
	

	<input type="hidden" id="isFileExist" name="isFileExist" value="0">
	<select id="modelSelectId" style="display: none">
		<option value="">--请选择模块--</option>
	</select>
	<!-- 文件主题名称 -->
	<div id="div_fileNameDesc">
		<div id="fileNameDesc"></div>
	</div>

	<div style="width: auto; height: 100%;" id="divDocView"></div>

	<!-- jQuery -->
</body>
</html>
