<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aljoin.sys.dao.mapper.SysDocumentNumberMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="aljoin.sys.dao.entity.SysDocumentNumber">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
		<result column="version" property="version" />
		<result column="is_delete" property="isDelete" />
		<result column="last_update_user_id" property="lastUpdateUserId" />
		<result column="last_update_user_name" property="lastUpdateUserName" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_user_name" property="createUserName" />
		<result column="document_num_name" property="documentNumName" />
		<result column="agency_code" property="agencyCode" />
		<result column="reign_title_rule" property="reignTitleRule" />
		<result column="document_num_pattern" property="documentNumPattern" />
		<result column="is_fix_length" property="isFixLength" />
		<result column="start_value" property="startValue" />
		<result column="digit" property="digit" />
		<result column="resetting_rule" property="resettingRule" />
		<result column="current_value" property="currentValue" />
		<result column="status" property="status" />
		<result column="category_id" property="categoryId" />
		<result column="bpmn_ids" property="processNames" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, last_update_time, version, is_delete, last_update_user_id, last_update_user_name, create_user_id, create_user_name, document_num_name, agency_code, reign_title_rule, document_num_pattern, is_fix_length, start_value, digit, resetting_rule, current_value, status, category_id, bpmn_ids
    </sql>
    
    <!-- 根据ID删除对象(物理删除) -->
    <delete id="physicsDeleteById" parameterType="Long">
    	DELETE FROM sys_document_number WHERE id = #{value}
    </delete>
    
    <!-- 复制对象(需要完整的对象数据，包括所有的公共字段) -->
    <insert id="copyObject" parameterType="SysDocumentNumber">
    	INSERT INTO sys_document_number(<include refid="Base_Column_List"></include>)
		VALUES(#{id}, #{createTime}, #{lastUpdateTime}, #{version}, #{isDelete}, #{lastUpdateUserId}, #{lastUpdateUserName}, #{createUserId}, #{createUserName}, #{documentNumName}, #{agencyCode}, #{reignTitleRule}, #{documentNumPattern}, #{isFixLength}, #{startValue}, #{digit}, #{resettingRule}, #{currentValue}, #{status}, #{categoryId}, #{processNames})
    </insert>

</mapper>
