<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aljoin.mai.dao.mapper.MaiScrapBoxMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="aljoin.mai.dao.entity.MaiScrapBox">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
		<result column="version" property="version" />
		<result column="is_delete" property="isDelete" />
		<result column="last_update_user_id" property="lastUpdateUserId" />
		<result column="last_update_user_name" property="lastUpdateUserName" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_user_name" property="createUserName" />
		<result column="receive_user_ids" property="receiveUserIds" />
		<result column="receive_user_names" property="receiveUserNames" />
		<result column="receive_full_names" property="receiveFullNames" />
		<result column="send_user_id" property="sendUserId" />
		<result column="send_user_name" property="sendUserName" />
		<result column="send_full_name" property="sendFullName" />
		<result column="mail_size" property="mailSize" />
		<result column="subject_text" property="subjectText" />
		<result column="orgnl_type" property="orgnlType" />
		<result column="orgnl_id" property="orgnlId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, last_update_time, version, is_delete, last_update_user_id, last_update_user_name, create_user_id, create_user_name, receive_user_ids, receive_user_names, receive_full_names, send_user_id, send_user_name, send_full_name, mail_size, subject_text, orgnl_type, orgnl_id
    </sql>

</mapper>
